USE [SIFCA]
GO
/****** Object:  Rule [dbo].[R_TIPOARBOL]    Script Date: 03/31/2014 23:11:46 ******/
create rule [dbo].[R_TIPOARBOL] as
      @column in ('BF','NF')
GO
/****** Object:  UserDefinedDataType [dbo].[TIPOARBOL]    Script Date: 03/31/2014 23:11:47 ******/
CREATE TYPE [dbo].[TIPOARBOL] FROM [char](3) NOT NULL
GO
/****** Object:  Table [dbo].[CALIDAD]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CALIDAD](
	[CODCALIDAD] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DESCRIPCALIDAD] [varchar](500) NULL,
 CONSTRAINT [PK_CALIDAD] PRIMARY KEY NONCLUSTERED 
(
	[CODCALIDAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CALIDAD] ON
INSERT [dbo].[CALIDAD] ([CODCALIDAD], [DESCRIPCALIDAD]) VALUES (CAST(1 AS Numeric(18, 0)), N'BUENO')
INSERT [dbo].[CALIDAD] ([CODCALIDAD], [DESCRIPCALIDAD]) VALUES (CAST(2 AS Numeric(18, 0)), N'REGULAR')
INSERT [dbo].[CALIDAD] ([CODCALIDAD], [DESCRIPCALIDAD]) VALUES (CAST(3 AS Numeric(18, 0)), N'MALO')
SET IDENTITY_INSERT [dbo].[CALIDAD] OFF
/****** Object:  Table [dbo].[ESTADOSANITARIO]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADOSANITARIO](
	[ESTADO] [char](2) NOT NULL,
	[DESCRIPESTADO] [varchar](500) NULL,
 CONSTRAINT [PK_ESTADOSANITARIO] PRIMARY KEY NONCLUSTERED 
(
	[ESTADO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ESTADOSANITARIO] ([ESTADO], [DESCRIPESTADO]) VALUES (N'AI', N'Arbol con insectos')
INSERT [dbo].[ESTADOSANITARIO] ([ESTADO], [DESCRIPESTADO]) VALUES (N'AD', N'Arbol dañado')
INSERT [dbo].[ESTADOSANITARIO] ([ESTADO], [DESCRIPESTADO]) VALUES (N'AF', N'Arbol con o sin flores')
/****** Object:  Table [dbo].[ESTRATO]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTRATO](
	[CODEST] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DESCRIPESTRATO] [varchar](500) NULL,
 CONSTRAINT [PK_ESTRATO] PRIMARY KEY NONCLUSTERED 
(
	[CODEST] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ESTRATO] ON
INSERT [dbo].[ESTRATO] ([CODEST], [DESCRIPESTRATO]) VALUES (CAST(31 AS Numeric(18, 0)), N'nnn')
INSERT [dbo].[ESTRATO] ([CODEST], [DESCRIPESTRATO]) VALUES (CAST(32 AS Numeric(18, 0)), N'nuevo estrato')
SET IDENTITY_INSERT [dbo].[ESTRATO] OFF
/****** Object:  Table [dbo].[GRUPOCOMERCIAL]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GRUPOCOMERCIAL](
	[GRUPOCOM] [char](2) NOT NULL,
	[DESCRIPGRUPO] [varchar](500) NULL,
 CONSTRAINT [PK_GRUPOCOMERCIAL] PRIMARY KEY NONCLUSTERED 
(
	[GRUPOCOM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[GRUPOCOMERCIAL] ([GRUPOCOM], [DESCRIPGRUPO]) VALUES (N'MV', N'Muy valiosas')
INSERT [dbo].[GRUPOCOMERCIAL] ([GRUPOCOM], [DESCRIPGRUPO]) VALUES (N'PV', N'Poco valiosas')
INSERT [dbo].[GRUPOCOMERCIAL] ([GRUPOCOM], [DESCRIPGRUPO]) VALUES (N'SV', N'Sin valor comercial')
/****** Object:  Table [dbo].[OBJETIVOINVENTARIO]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OBJETIVOINVENTARIO](
	[NOMBRETIPOINV] [varchar](100) NOT NULL,
	[DESCRIPOBJETINV] [varchar](500) NULL,
 CONSTRAINT [PK_OBJETIVOINVENTARIO] PRIMARY KEY NONCLUSTERED 
(
	[NOMBRETIPOINV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[OBJETIVOINVENTARIO] ([NOMBRETIPOINV], [DESCRIPOBJETINV]) VALUES (N'MD', N'Maderables')
INSERT [dbo].[OBJETIVOINVENTARIO] ([NOMBRETIPOINV], [DESCRIPOBJETINV]) VALUES (N'NM', N'No Maderables')
/****** Object:  Table [dbo].[TIPODEUSO]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPODEUSO](
	[NOMBRETIPOUSO] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](500) NULL,
 CONSTRAINT [PK_TIPODEUSO] PRIMARY KEY NONCLUSTERED 
(
	[NOMBRETIPOUSO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TIPODEUSO] ([NOMBRETIPOUSO], [DESCRIPCION]) VALUES (N'AL', N'Alimenticia')
INSERT [dbo].[TIPODEUSO] ([NOMBRETIPOUSO], [DESCRIPCION]) VALUES (N'AR', N'Artesanal')
INSERT [dbo].[TIPODEUSO] ([NOMBRETIPOUSO], [DESCRIPCION]) VALUES (N'MD', N'Medicinal')
/****** Object:  Table [dbo].[TIPODISENOMUESTRAL]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPODISENOMUESTRAL](
	[NOMTIPODISEMUEST] [varchar](100) NOT NULL,
	[DESCRIPTIPODISEMUEST] [varchar](500) NULL,
 CONSTRAINT [PK_TIPODISENOMUESTRAL] PRIMARY KEY NONCLUSTERED 
(
	[NOMTIPODISEMUEST] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TIPODISENOMUESTRAL] ([NOMTIPODISEMUEST], [DESCRIPTIPODISEMUEST]) VALUES (N'SI', N'Diseño simple')
INSERT [dbo].[TIPODISENOMUESTRAL] ([NOMTIPODISEMUEST], [DESCRIPTIPODISEMUEST]) VALUES (N'ES', N'Diseño estratificado')
/****** Object:  Table [dbo].[TIPOFORMULA]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPOFORMULA](
	[NROTIPOFORMULA] [uniqueidentifier] NOT NULL,
	[NOMBRETIPO] [varchar](150) NOT NULL,
	[DESCRIPCION] [varchar](5000) NULL,
 CONSTRAINT [PK_TIPOFORMULA] PRIMARY KEY CLUSTERED 
(
	[NROTIPOFORMULA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [NROTIPOFORMULA] ON [dbo].[TIPOFORMULA] 
(
	[NROTIPOFORMULA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[TIPOFORMULA] ([NROTIPOFORMULA], [NOMBRETIPO], [DESCRIPCION]) VALUES (N'3a2a2484-4430-4e13-af56-678ec6946034', N'Dasometricas', N'Dasometricas')
INSERT [dbo].[TIPOFORMULA] ([NROTIPOFORMULA], [NOMBRETIPO], [DESCRIPCION]) VALUES (N'64d5a839-7082-4025-ba70-7396fbebfe77', N'Volumen', N'Volumen')
/****** Object:  Table [dbo].[TSTUDENT]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSTUDENT](
	[N] [numeric](18, 0) NOT NULL,
	[ALPHA] [decimal](18, 3) NOT NULL,
	[VALOR] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_TSTUDENT] PRIMARY KEY NONCLUSTERED 
(
	[N] ASC,
	[ALPHA] ASC,
	[VALOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TSTUDENT] ([N], [ALPHA], [VALOR]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(0.010 AS Decimal(18, 3)), CAST(63.657 AS Decimal(18, 3)))
INSERT [dbo].[TSTUDENT] ([N], [ALPHA], [VALOR]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(0.050 AS Decimal(18, 3)), CAST(12.706 AS Decimal(18, 3)))
INSERT [dbo].[TSTUDENT] ([N], [ALPHA], [VALOR]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(0.010 AS Decimal(18, 3)), CAST(9.925 AS Decimal(18, 3)))
/****** Object:  Table [dbo].[VARIABLE]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VARIABLE](
	[NROVARIABLE] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](5000) NULL,
 CONSTRAINT [PK_VARIABLE] PRIMARY KEY CLUSTERED 
(
	[NROVARIABLE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [NROVARIABLE] ON [dbo].[VARIABLE] 
(
	[NROVARIABLE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clave primaria en la tabla variable' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VARIABLE', @level2type=N'COLUMN',@level2name=N'NROVARIABLE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Establece el nombre la variable empleado para la construccion de expresiones asociados a la formula' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VARIABLE', @level2type=N'COLUMN',@level2name=N'NOMBRE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Establece las variables involucradas en el desarrollo de una expresion asociada con una formula.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VARIABLE'
GO
INSERT [dbo].[VARIABLE] ([NROVARIABLE], [NOMBRE], [DESCRIPCION]) VALUES (N'02e0980e-5ed7-4032-9eb9-6947c57fe2d0', N'DAP', N'Diametro a la altura del pecho, variable empleada para el calculo del area basal')
INSERT [dbo].[VARIABLE] ([NROVARIABLE], [NOMBRE], [DESCRIPCION]) VALUES (N'322fe9e9-0b58-4f9e-ba53-925d7e018aed', N'AB', N'Area basal')
INSERT [dbo].[VARIABLE] ([NROVARIABLE], [NOMBRE], [DESCRIPCION]) VALUES (N'5713475f-ca58-41e8-81ec-95f32023ea20', N'CAP', N'Circuferencia a la altura del pecho, variable empleada para el calculo del area basal')
/****** Object:  Rule [dbo].[R_TIPOGRUPOECOLOGICO]    Script Date: 03/31/2014 23:11:52 ******/
create rule [dbo].[R_TIPOGRUPOECOLOGICO] as
      @column in ('TL','NT')
GO
/****** Object:  Rule [dbo].[R_TIPOOPERACION]    Script Date: 03/31/2014 23:11:52 ******/
create rule [dbo].[R_TIPOOPERACION] as
      @column in ('I','A','E')
GO
/****** Object:  Rule [dbo].[R_TIPOPROYECTO]    Script Date: 03/31/2014 23:11:52 ******/
create rule [dbo].[R_TIPOPROYECTO] as
      @column in ('CR','CO','IN')
GO
/****** Object:  Rule [dbo].[R_TIPOUSUARIO]    Script Date: 03/31/2014 23:11:52 ******/
create rule [dbo].[R_TIPOUSUARIO] as
      @column in ('AD','NA')
GO
/****** Object:  Table [dbo].[LINEAREGENERACION]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINEAREGENERACION](
	[LATIZAL] [numeric](18, 0) NOT NULL,
	[BRINZAL] [numeric](18, 0) NOT NULL,
	[LINEAREGEN] [uniqueidentifier] NOT NULL,
	[NROFORMULARIO] [uniqueidentifier] NOT NULL,
	[CODESP] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_LINEAREGENERACION] PRIMARY KEY NONCLUSTERED 
(
	[LINEAREGEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [COMPLETA_FK] ON [dbo].[LINEAREGENERACION] 
(
	[NROFORMULARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [EVALUACION_FK] ON [dbo].[LINEAREGENERACION] 
(
	[CODESP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LISTADODEESPECIES]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTADODEESPECIES](
	[CODESP] [uniqueidentifier] NOT NULL,
	[NROPROY] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_LISTADODEESPECIES] PRIMARY KEY CLUSTERED 
(
	[CODESP] ASC,
	[NROPROY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LISTADODEESPECIES] ([CODESP], [NROPROY]) VALUES (N'a685bf38-af97-47a2-b02e-0052f1fd9fb0', N'5a04aae6-322c-40e2-9d95-c140587e6d4e')
INSERT [dbo].[LISTADODEESPECIES] ([CODESP], [NROPROY]) VALUES (N'0385dc14-cef9-41a4-935b-007078ee0f7f', N'5a04aae6-322c-40e2-9d95-c140587e6d4e')
INSERT [dbo].[LISTADODEESPECIES] ([CODESP], [NROPROY]) VALUES (N'8bd2f7cb-55a8-4bb4-aacd-00d9d97d513b', N'5a04aae6-322c-40e2-9d95-c140587e6d4e')
/****** Object:  Table [dbo].[IMAGEN]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMAGEN](
	[IMAGENID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CODESP] [uniqueidentifier] NOT NULL,
	[DESCRIPCION] [varchar](1000) NULL,
	[NOMBRE] [varchar](250) NOT NULL,
	[RUTA] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_IMAGEN] PRIMARY KEY CLUSTERED 
(
	[IMAGENID] ASC,
	[CODESP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IMAGENID] ON [dbo].[IMAGEN] 
(
	[IMAGENID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMULARIO]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMULARIO](
	[NROFORMULARIO] [uniqueidentifier] NOT NULL,
	[CODEST] [numeric](18, 0) NULL,
	[NROUSUARIO] [uniqueidentifier] NOT NULL,
	[NROPROY] [uniqueidentifier] NOT NULL,
	[FECHACREACION] [datetime] NOT NULL,
	[HORAINICIO] [datetime] NULL,
	[HORAFINAL] [datetime] NULL,
	[PARCELA] [numeric](18, 0) NOT NULL,
	[LINEA] [numeric](18, 0) NOT NULL,
	[COORDENADAX] [numeric](18, 0) NULL,
	[COORDENADAY] [numeric](18, 0) NULL,
 CONSTRAINT [PK_FORMULARIO] PRIMARY KEY NONCLUSTERED 
(
	[NROFORMULARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [DESARROLLA_FK] ON [dbo].[FORMULARIO] 
(
	[NROPROY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ES_REPONSABLE_FK] ON [dbo].[FORMULARIO] 
(
	[NROUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [MANEJA_FK] ON [dbo].[FORMULARIO] 
(
	[CODEST] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[FORMULARIO] ([NROFORMULARIO], [CODEST], [NROUSUARIO], [NROPROY], [FECHACREACION], [HORAINICIO], [HORAFINAL], [PARCELA], [LINEA], [COORDENADAX], [COORDENADAY]) VALUES (N'46568dc0-3f9f-4331-ba79-f1cd6626a53f', NULL, N'dd15b0d2-7752-4d27-afe9-4827d05ce9d3', N'5a04aae6-322c-40e2-9d95-c140587e6d4e', CAST(0x0000A2FB0105FEC9 AS DateTime), CAST(0x0000A2FB0105DB5B AS DateTime), CAST(0x0000A2FB010BA74B AS DateTime), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(23 AS Numeric(18, 0)), CAST(32 AS Numeric(18, 0)))
INSERT [dbo].[FORMULARIO] ([NROFORMULARIO], [CODEST], [NROUSUARIO], [NROPROY], [FECHACREACION], [HORAINICIO], [HORAFINAL], [PARCELA], [LINEA], [COORDENADAX], [COORDENADAY]) VALUES (N'b0871e84-d3b4-47d8-a947-884b4094ee86', NULL, N'dd15b0d2-7752-4d27-afe9-4827d05ce9d3', N'5a04aae6-322c-40e2-9d95-c140587e6d4e', CAST(0x0000A2FB010F0F97 AS DateTime), CAST(0x0000A2FB010EF419 AS DateTime), CAST(0x0000A2FB01202605 AS DateTime), CAST(2 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), CAST(34 AS Numeric(18, 0)), CAST(67 AS Numeric(18, 0)))
INSERT [dbo].[FORMULARIO] ([NROFORMULARIO], [CODEST], [NROUSUARIO], [NROPROY], [FECHACREACION], [HORAINICIO], [HORAFINAL], [PARCELA], [LINEA], [COORDENADAX], [COORDENADAY]) VALUES (N'54b3d551-3736-4208-b6b0-ef20bcb22597', NULL, N'dd15b0d2-7752-4d27-afe9-4827d05ce9d3', N'5a04aae6-322c-40e2-9d95-c140587e6d4e', CAST(0x0000A2FB01146C71 AS DateTime), CAST(0x0000A2FB01140DDD AS DateTime), CAST(0x0000A2FB0117B521 AS DateTime), CAST(3 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), CAST(4 AS Numeric(18, 0)))
/****** Object:  Table [dbo].[LISTADODEESTRATOS]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTADODEESTRATOS](
	[NROPROY] [uniqueidentifier] NOT NULL,
	[CODEST] [numeric](18, 0) NOT NULL,
	[PESO] [decimal](18, 6) NULL,
	[TAMANOMUESTRA] [decimal](18, 0) NULL,
 CONSTRAINT [PK_LISTADODEESTRATOS] PRIMARY KEY CLUSTERED 
(
	[NROPROY] ASC,
	[CODEST] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMULAVARIABLE]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMULAVARIABLE](
	[NROVARIABLE] [uniqueidentifier] NOT NULL,
	[NROFORMULA] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_FORMULAVARIABLE] PRIMARY KEY CLUSTERED 
(
	[NROVARIABLE] ASC,
	[NROFORMULA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [FK_FORMULAVARIABLE] ON [dbo].[FORMULAVARIABLE] 
(
	[NROVARIABLE] ASC,
	[NROFORMULA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clave primaria en la tabla formulario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FORMULAVARIABLE', @level2type=N'COLUMN',@level2name=N'NROFORMULA'
GO
INSERT [dbo].[FORMULAVARIABLE] ([NROVARIABLE], [NROFORMULA]) VALUES (N'02e0980e-5ed7-4032-9eb9-6947c57fe2d0', N'41fefeb0-44b1-40f3-94ab-b7d0d1642169')
INSERT [dbo].[FORMULAVARIABLE] ([NROVARIABLE], [NROFORMULA]) VALUES (N'322fe9e9-0b58-4f9e-ba53-925d7e018aed', N'ed52569e-5cfd-454f-9f8b-9429a47c829f')
INSERT [dbo].[FORMULAVARIABLE] ([NROVARIABLE], [NROFORMULA]) VALUES (N'5713475f-ca58-41e8-81ec-95f32023ea20', N'5eee4ea1-6877-4d6e-8395-a9fc56799eb8')
/****** Object:  Table [dbo].[LINEANOMADERABLES]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LINEANOMADERABLES](
	[LINEANMAD] [uniqueidentifier] NOT NULL,
	[NROFORMULARIO] [uniqueidentifier] NOT NULL,
	[OBSERVACIONES] [varchar](500) NULL,
 CONSTRAINT [PK_LINEANOMADERABLES] PRIMARY KEY NONCLUSTERED 
(
	[LINEANMAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [RECOLECTA_FK] ON [dbo].[LINEANOMADERABLES] 
(
	[NROFORMULARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USO]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USO](
	[LINEANMAD] [uniqueidentifier] NOT NULL,
	[NOMBRETIPOUSO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_USO] PRIMARY KEY CLUSTERED 
(
	[LINEANMAD] ASC,
	[NOMBRETIPOUSO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROYECTOSPORETAPA]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROYECTOSPORETAPA](
	[NROPROYCONTENEDOR] [uniqueidentifier] NOT NULL,
	[NROPROYCONTENIDO] [uniqueidentifier] NOT NULL,
	[PESO] [decimal](18, 6) NOT NULL,
	[ETAPA] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_PROYECTOSPORETAPA] PRIMARY KEY CLUSTERED 
(
	[NROPROYCONTENEDOR] ASC,
	[NROPROYCONTENIDO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMULA]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMULA](
	[NROFORMULA] [uniqueidentifier] NOT NULL,
	[NROTIPOFORMULA] [uniqueidentifier] NOT NULL,
	[EXPRESION] [varchar](5000) NOT NULL,
	[NOMBRE] [varchar](150) NOT NULL,
	[DESCRIPCION] [varchar](5000) NULL,
 CONSTRAINT [PK_FORMULA] PRIMARY KEY CLUSTERED 
(
	[NROFORMULA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [NROFORMULA] ON [dbo].[FORMULA] 
(
	[NROFORMULA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clave primaria en la tabla formulario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FORMULA', @level2type=N'COLUMN',@level2name=N'NROFORMULA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Expresion matematica asociada a la formula. Para su evaluacion se emplea el evaluador de expresiones AleParse http://www.aleprojects.com/en/doc/parser' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FORMULA', @level2type=N'COLUMN',@level2name=N'EXPRESION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Establece las formulas que se pueden asociar a un proyecto para el ingreso de formulas personalizables por el usuario. Esta podran estar disponibles para su posterior uso en la elbaoracion de uno o mas proyectos. las formuals continen uno o mas variables.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FORMULA'
GO
INSERT [dbo].[FORMULA] ([NROFORMULA], [NROTIPOFORMULA], [EXPRESION], [NOMBRE], [DESCRIPCION]) VALUES (N'ed52569e-5cfd-454f-9f8b-9429a47c829f', N'64d5a839-7082-4025-ba70-7396fbebfe77', N'FF*AB*H', N'Formula calculo de volumen general', N'Formula calculo de volumen general')
INSERT [dbo].[FORMULA] ([NROFORMULA], [NROTIPOFORMULA], [EXPRESION], [NOMBRE], [DESCRIPCION]) VALUES (N'5eee4ea1-6877-4d6e-8395-a9fc56799eb8', N'3a2a2484-4430-4e13-af56-678ec6946034', N'Pow(CAP,2)/(4*PI)', N'Formula calculo area basal CAP', N'Formula calculo area basal CAP')
INSERT [dbo].[FORMULA] ([NROFORMULA], [NROTIPOFORMULA], [EXPRESION], [NOMBRE], [DESCRIPCION]) VALUES (N'41fefeb0-44b1-40f3-94ab-b7d0d1642169', N'3a2a2484-4430-4e13-af56-678ec6946034', N'(PI*Pow(DAP,2))/4', N'Formula calculo area basal DAP', N'Formula calculo area basal DAP')
/****** Object:  Table [dbo].[LINEAINVENTARIO]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LINEAINVENTARIO](
	[LINEAINV] [uniqueidentifier] NOT NULL,
	[CODCALIDAD] [numeric](18, 0) NOT NULL,
	[NROFORMULARIO] [uniqueidentifier] NOT NULL,
	[ESTADO] [char](2) NOT NULL,
	[CODESP] [uniqueidentifier] NOT NULL,
	[NROARB] [numeric](18, 0) NOT NULL,
	[ALTCOMER_M] [numeric](18, 6) NOT NULL,
	[ALTTOT_M] [numeric](18, 6) NOT NULL,
	[AREABASAL] [decimal](18, 6) NOT NULL,
	[VOLCOM] [decimal](18, 6) NOT NULL,
	[VOLTOT] [decimal](18, 6) NOT NULL,
	[TIPOARBOL] [dbo].[TIPOARBOL] NOT NULL,
	[CAP] [numeric](18, 6) NOT NULL,
	[DAP] [numeric](18, 6) NOT NULL,
 CONSTRAINT [PK_LINEAINVENTARIO] PRIMARY KEY NONCLUSTERED 
(
	[LINEAINV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [ASOCIADO_FK] ON [dbo].[LINEAINVENTARIO] 
(
	[ESTADO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [CONTIENE_FK] ON [dbo].[LINEAINVENTARIO] 
(
	[CODESP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [LLENA_FK] ON [dbo].[LINEAINVENTARIO] 
(
	[NROFORMULARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [POSEE_FK] ON [dbo].[LINEAINVENTARIO] 
(
	[CODCALIDAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  UserDefinedDataType [dbo].[TIPOGRUPOECOLOGICO]    Script Date: 03/31/2014 23:11:52 ******/
CREATE TYPE [dbo].[TIPOGRUPOECOLOGICO] FROM [varchar](2) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[TIPOOPERACION]    Script Date: 03/31/2014 23:11:52 ******/
CREATE TYPE [dbo].[TIPOOPERACION] FROM [char](1) NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[TIPOPROYECTO]    Script Date: 03/31/2014 23:11:52 ******/
CREATE TYPE [dbo].[TIPOPROYECTO] FROM [varchar](2) NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[TIPOUSUARIO]    Script Date: 03/31/2014 23:11:52 ******/
CREATE TYPE [dbo].[TIPOUSUARIO] FROM [char](2) NOT NULL
GO
/****** Object:  Table [dbo].[ESPECIE]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESPECIE](
	[CODESP] [uniqueidentifier] NOT NULL,
	[GRUPOCOM] [char](2) NOT NULL,
	[NOMCOMUN] [varchar](200) NULL,
	[NOMCIENTIFICO] [varchar](200) NULL,
	[FAMILIA] [varchar](200) NULL,
	[ZONAGEOGRAFICA] [varchar](200) NULL,
	[ZONADEVIDA] [varchar](200) NULL,
	[DIAMMINCORTE] [numeric](18, 6) NULL,
	[GRUPOECOLOGICO] [dbo].[TIPOGRUPOECOLOGICO] NULL,
 CONSTRAINT [PK_ESPECIE] PRIMARY KEY NONCLUSTERED 
(
	[CODESP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [PERTENECE_FK] ON [dbo].[ESPECIE] 
(
	[GRUPOCOM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[ESPECIE] ([CODESP], [GRUPOCOM], [NOMCOMUN], [NOMCIENTIFICO], [FAMILIA], [ZONAGEOGRAFICA], [ZONADEVIDA], [DIAMMINCORTE], [GRUPOECOLOGICO]) VALUES (N'244299f1-f0b2-4794-a8e9-9108b6cfc5d6', N'SV', N'Totocal', N'Achatocarpus nigricans', N'Achatocarpaceae', NULL, NULL, CAST(0.000000 AS Numeric(18, 6)), N'TL')
INSERT [dbo].[ESPECIE] ([CODESP], [GRUPOCOM], [NOMCOMUN], [NOMCIENTIFICO], [FAMILIA], [ZONAGEOGRAFICA], [ZONADEVIDA], [DIAMMINCORTE], [GRUPOECOLOGICO]) VALUES (N'4d3c022f-3dcf-48ec-8f5d-07d8b40c14b0', N'SV', N'Arenillo', N'Alchornea sp.', N'Euphorbiaceae', NULL, NULL, CAST(0.000000 AS Numeric(18, 6)), N'NT')
INSERT [dbo].[ESPECIE] ([CODESP], [GRUPOCOM], [NOMCOMUN], [NOMCIENTIFICO], [FAMILIA], [ZONAGEOGRAFICA], [ZONADEVIDA], [DIAMMINCORTE], [GRUPOECOLOGICO]) VALUES (N'8fc304e5-f745-49fe-9146-52bce225fa60', N'SV', N'Palma de helecho', N'Alsophila sp.', N'Cyatheaceae', NULL, NULL, CAST(0.000000 AS Numeric(18, 6)), N'TL')
/****** Object:  Table [dbo].[TRANSACCION]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANSACCION](
	[NROTRANS] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NROUSUARIO] [uniqueidentifier] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[TABLA] [varchar](100) NOT NULL,
	[IDREGISTRO] [numeric](18, 0) NOT NULL,
	[OPERACION] [dbo].[TIPOOPERACION] NOT NULL,
	[VALORESVIEJOS] [varchar](1024) NULL,
	[VALORESNUEVOS] [varchar](1024) NULL,
 CONSTRAINT [PK_TRANSACCION] PRIMARY KEY NONCLUSTERED 
(
	[NROTRANS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [REGISTRA_FK] ON [dbo].[TRANSACCION] 
(
	[NROUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROYECTO](
	[NROPROY] [uniqueidentifier] NOT NULL,
	[NROUSUARIO] [uniqueidentifier] NOT NULL,
	[NOMBRETIPOINV] [varchar](100) NOT NULL,
	[NOMTIPODISEMUEST] [varchar](100) NOT NULL,
	[NROFORMULA] [uniqueidentifier] NOT NULL,
	[LUGAR] [varchar](100) NOT NULL,
	[NUMEROPARCELAS] [numeric](18, 0) NOT NULL,
	[NUMEROPARCELASAMUESTREAR] [numeric](18, 0) NOT NULL,
	[TAMANO] [decimal](18, 6) NOT NULL,
	[DESCRIPCION] [varchar](max) NULL,
	[SUPTOT] [decimal](18, 6) NOT NULL,
	[INTMUE] [decimal](18, 6) NOT NULL,
	[SUPMUE] [decimal](18, 6) NOT NULL,
	[LIMITINFDAP] [decimal](18, 6) NOT NULL,
	[AREAFUSTALESPORPARCELA] [decimal](18, 6) NOT NULL,
	[FACTORDEFORMA] [decimal](18, 6) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ETAPA] [numeric](18, 0) NOT NULL,
	[TIPOPROYECTO] [dbo].[TIPOPROYECTO] NOT NULL,
	[CONFIANZA] [decimal](18, 6) NOT NULL,
 CONSTRAINT [PK_PROYECTO] PRIMARY KEY NONCLUSTERED 
(
	[NROPROY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [CREA_FK] ON [dbo].[PROYECTO] 
(
	[NROUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [ES_FK] ON [dbo].[PROYECTO] 
(
	[NOMBRETIPOINV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [REALIZA_FK] ON [dbo].[PROYECTO] 
(
	[NOMTIPODISEMUEST] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clave primaria en la tabla formulario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PROYECTO', @level2type=N'COLUMN',@level2name=N'NROFORMULA'
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 03/31/2014 23:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[NROUSUARIO] [uniqueidentifier] NOT NULL,
	[NOMBRES] [varchar](100) NOT NULL,
	[APELLIDOS] [varchar](100) NOT NULL,
	[NOMBREUSUARIO] [varchar](100) NOT NULL,
	[CONTRASENA] [varchar](1000) NOT NULL,
	[CEDULA] [numeric](18, 0) NOT NULL,
	[TIPOUSUARIO] [dbo].[TIPOUSUARIO] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY NONCLUSTERED 
(
	[NROUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[USUARIO] ([NROUSUARIO], [NOMBRES], [APELLIDOS], [NOMBREUSUARIO], [CONTRASENA], [CEDULA], [TIPOUSUARIO]) VALUES (N'dd15b0d2-7752-4d27-afe9-4827d05ce9d3', N'NombresAdmin', N'ApellidosAdmin', N'admin', N'ZtLQ+XTnVW9ghqi5BCvfrg==', CAST(0 AS Numeric(18, 0)), N'AD')
INSERT [dbo].[USUARIO] ([NROUSUARIO], [NOMBRES], [APELLIDOS], [NOMBREUSUARIO], [CONTRASENA], [CEDULA], [TIPOUSUARIO]) VALUES (N'610c5edf-f99a-4e16-83c2-50968efc0c33', N'rospina', N'rospina', N'6789', N'JYZT0KWwHUN5bc1IVZ4XQA==', CAST(12344 AS Numeric(18, 0)), N'AD')
/****** Object:  ForeignKey [FK_LINEAREG_COMPLETA_FORMULAR]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[LINEAREGENERACION]  WITH CHECK ADD  CONSTRAINT [FK_LINEAREG_COMPLETA_FORMULAR] FOREIGN KEY([NROFORMULARIO])
REFERENCES [dbo].[FORMULARIO] ([NROFORMULARIO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LINEAREGENERACION] CHECK CONSTRAINT [FK_LINEAREG_COMPLETA_FORMULAR]
GO
/****** Object:  ForeignKey [FK_LINEAREG_EVALUACIO_ESPECIE]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[LINEAREGENERACION]  WITH CHECK ADD  CONSTRAINT [FK_LINEAREG_EVALUACIO_ESPECIE] FOREIGN KEY([CODESP])
REFERENCES [dbo].[ESPECIE] ([CODESP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LINEAREGENERACION] CHECK CONSTRAINT [FK_LINEAREG_EVALUACIO_ESPECIE]
GO
/****** Object:  ForeignKey [FK_LISTADOD_LISTADODE_ESPECIE]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[LISTADODEESPECIES]  WITH CHECK ADD  CONSTRAINT [FK_LISTADOD_LISTADODE_ESPECIE] FOREIGN KEY([CODESP])
REFERENCES [dbo].[ESPECIE] ([CODESP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LISTADODEESPECIES] CHECK CONSTRAINT [FK_LISTADOD_LISTADODE_ESPECIE]
GO
/****** Object:  ForeignKey [FK_LISTADOESPECIES_PROYECTO]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[LISTADODEESPECIES]  WITH CHECK ADD  CONSTRAINT [FK_LISTADOESPECIES_PROYECTO] FOREIGN KEY([NROPROY])
REFERENCES [dbo].[PROYECTO] ([NROPROY])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LISTADODEESPECIES] CHECK CONSTRAINT [FK_LISTADOESPECIES_PROYECTO]
GO
/****** Object:  ForeignKey [FK_IMAGEN_IMAGENE_ESPECIE]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[IMAGEN]  WITH CHECK ADD  CONSTRAINT [FK_IMAGEN_IMAGENE_ESPECIE] FOREIGN KEY([CODESP])
REFERENCES [dbo].[ESPECIE] ([CODESP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IMAGEN] CHECK CONSTRAINT [FK_IMAGEN_IMAGENE_ESPECIE]
GO
/****** Object:  ForeignKey [FK_FORMULAR_DESARROLL_PROYECTO]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[FORMULARIO]  WITH CHECK ADD  CONSTRAINT [FK_FORMULAR_DESARROLL_PROYECTO] FOREIGN KEY([NROPROY])
REFERENCES [dbo].[PROYECTO] ([NROPROY])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FORMULARIO] CHECK CONSTRAINT [FK_FORMULAR_DESARROLL_PROYECTO]
GO
/****** Object:  ForeignKey [FK_FORMULAR_ES_REPONS_USUARIO]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[FORMULARIO]  WITH CHECK ADD  CONSTRAINT [FK_FORMULAR_ES_REPONS_USUARIO] FOREIGN KEY([NROUSUARIO])
REFERENCES [dbo].[USUARIO] ([NROUSUARIO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FORMULARIO] CHECK CONSTRAINT [FK_FORMULAR_ES_REPONS_USUARIO]
GO
/****** Object:  ForeignKey [FK_FORMULAR_MANEJA_ESTRATO]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[FORMULARIO]  WITH CHECK ADD  CONSTRAINT [FK_FORMULAR_MANEJA_ESTRATO] FOREIGN KEY([CODEST])
REFERENCES [dbo].[ESTRATO] ([CODEST])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FORMULARIO] CHECK CONSTRAINT [FK_FORMULAR_MANEJA_ESTRATO]
GO
/****** Object:  ForeignKey [FK_LISTADOD_LISTAESTR_ESTRATO]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[LISTADODEESTRATOS]  WITH CHECK ADD  CONSTRAINT [FK_LISTADOD_LISTAESTR_ESTRATO] FOREIGN KEY([CODEST])
REFERENCES [dbo].[ESTRATO] ([CODEST])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LISTADODEESTRATOS] CHECK CONSTRAINT [FK_LISTADOD_LISTAESTR_ESTRATO]
GO
/****** Object:  ForeignKey [FK_LISTAESTRATOS_PROYECTO]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[LISTADODEESTRATOS]  WITH CHECK ADD  CONSTRAINT [FK_LISTAESTRATOS_PROYECTO] FOREIGN KEY([NROPROY])
REFERENCES [dbo].[PROYECTO] ([NROPROY])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LISTADODEESTRATOS] CHECK CONSTRAINT [FK_LISTAESTRATOS_PROYECTO]
GO
/****** Object:  ForeignKey [FK_FORMULAVARIABLE_FORMULA]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[FORMULAVARIABLE]  WITH CHECK ADD  CONSTRAINT [FK_FORMULAVARIABLE_FORMULA] FOREIGN KEY([NROFORMULA])
REFERENCES [dbo].[FORMULA] ([NROFORMULA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FORMULAVARIABLE] CHECK CONSTRAINT [FK_FORMULAVARIABLE_FORMULA]
GO
/****** Object:  ForeignKey [FK_FORMULAVARIABLE_VARIABLE]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[FORMULAVARIABLE]  WITH CHECK ADD  CONSTRAINT [FK_FORMULAVARIABLE_VARIABLE] FOREIGN KEY([NROVARIABLE])
REFERENCES [dbo].[VARIABLE] ([NROVARIABLE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FORMULAVARIABLE] CHECK CONSTRAINT [FK_FORMULAVARIABLE_VARIABLE]
GO
/****** Object:  ForeignKey [FK_LINEANOM_RECOLECTA_FORMULAR]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[LINEANOMADERABLES]  WITH CHECK ADD  CONSTRAINT [FK_LINEANOM_RECOLECTA_FORMULAR] FOREIGN KEY([NROFORMULARIO])
REFERENCES [dbo].[FORMULARIO] ([NROFORMULARIO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LINEANOMADERABLES] CHECK CONSTRAINT [FK_LINEANOM_RECOLECTA_FORMULAR]
GO
/****** Object:  ForeignKey [FK_USO_TIPOUSO_TIPODEUS]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[USO]  WITH CHECK ADD  CONSTRAINT [FK_USO_TIPOUSO_TIPODEUS] FOREIGN KEY([NOMBRETIPOUSO])
REFERENCES [dbo].[TIPODEUSO] ([NOMBRETIPOUSO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USO] CHECK CONSTRAINT [FK_USO_TIPOUSO_TIPODEUS]
GO
/****** Object:  ForeignKey [FK_USO_USADOPOR_LINEANOM]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[USO]  WITH CHECK ADD  CONSTRAINT [FK_USO_USADOPOR_LINEANOM] FOREIGN KEY([LINEANMAD])
REFERENCES [dbo].[LINEANOMADERABLES] ([LINEANMAD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USO] CHECK CONSTRAINT [FK_USO_USADOPOR_LINEANOM]
GO
/****** Object:  ForeignKey [FK_PROYECTO_CONTENEDOR]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[PROYECTOSPORETAPA]  WITH CHECK ADD  CONSTRAINT [FK_PROYECTO_CONTENEDOR] FOREIGN KEY([NROPROYCONTENEDOR])
REFERENCES [dbo].[PROYECTO] ([NROPROY])
GO
ALTER TABLE [dbo].[PROYECTOSPORETAPA] CHECK CONSTRAINT [FK_PROYECTO_CONTENEDOR]
GO
/****** Object:  ForeignKey [FK_PROYECTO_CONTENIDOS]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[PROYECTOSPORETAPA]  WITH CHECK ADD  CONSTRAINT [FK_PROYECTO_CONTENIDOS] FOREIGN KEY([NROPROYCONTENIDO])
REFERENCES [dbo].[PROYECTO] ([NROPROY])
GO
ALTER TABLE [dbo].[PROYECTOSPORETAPA] CHECK CONSTRAINT [FK_PROYECTO_CONTENIDOS]
GO
/****** Object:  ForeignKey [FK_FORMULA_TIPOFORMULA]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[FORMULA]  WITH CHECK ADD  CONSTRAINT [FK_FORMULA_TIPOFORMULA] FOREIGN KEY([NROTIPOFORMULA])
REFERENCES [dbo].[TIPOFORMULA] ([NROTIPOFORMULA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FORMULA] CHECK CONSTRAINT [FK_FORMULA_TIPOFORMULA]
GO
/****** Object:  ForeignKey [FK_LINEAINV_ASOCIADO_ESTADOSA]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[LINEAINVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_LINEAINV_ASOCIADO_ESTADOSA] FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADOSANITARIO] ([ESTADO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LINEAINVENTARIO] CHECK CONSTRAINT [FK_LINEAINV_ASOCIADO_ESTADOSA]
GO
/****** Object:  ForeignKey [FK_LINEAINV_CONTIENE_ESPECIE]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[LINEAINVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_LINEAINV_CONTIENE_ESPECIE] FOREIGN KEY([CODESP])
REFERENCES [dbo].[ESPECIE] ([CODESP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LINEAINVENTARIO] CHECK CONSTRAINT [FK_LINEAINV_CONTIENE_ESPECIE]
GO
/****** Object:  ForeignKey [FK_LINEAINV_LLENA_FORMULAR]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[LINEAINVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_LINEAINV_LLENA_FORMULAR] FOREIGN KEY([NROFORMULARIO])
REFERENCES [dbo].[FORMULARIO] ([NROFORMULARIO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LINEAINVENTARIO] CHECK CONSTRAINT [FK_LINEAINV_LLENA_FORMULAR]
GO
/****** Object:  ForeignKey [FK_LINEAINV_POSEE_CALIDAD]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[LINEAINVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_LINEAINV_POSEE_CALIDAD] FOREIGN KEY([CODCALIDAD])
REFERENCES [dbo].[CALIDAD] ([CODCALIDAD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LINEAINVENTARIO] CHECK CONSTRAINT [FK_LINEAINV_POSEE_CALIDAD]
GO
/****** Object:  ForeignKey [FK_ESPECIE_PERTENECE_GRUPOCOM]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[ESPECIE]  WITH CHECK ADD  CONSTRAINT [FK_ESPECIE_PERTENECE_GRUPOCOM] FOREIGN KEY([GRUPOCOM])
REFERENCES [dbo].[GRUPOCOMERCIAL] ([GRUPOCOM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ESPECIE] CHECK CONSTRAINT [FK_ESPECIE_PERTENECE_GRUPOCOM]
GO
/****** Object:  ForeignKey [FK_TRANSACC_REGISTRA_USUARIO]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACC_REGISTRA_USUARIO] FOREIGN KEY([NROUSUARIO])
REFERENCES [dbo].[USUARIO] ([NROUSUARIO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACC_REGISTRA_USUARIO]
GO
/****** Object:  ForeignKey [FK_PROYECTO_CREA_USUARIO]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_PROYECTO_CREA_USUARIO] FOREIGN KEY([NROUSUARIO])
REFERENCES [dbo].[USUARIO] ([NROUSUARIO])
GO
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [FK_PROYECTO_CREA_USUARIO]
GO
/****** Object:  ForeignKey [FK_PROYECTO_ES_OBJETIVO]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_PROYECTO_ES_OBJETIVO] FOREIGN KEY([NOMBRETIPOINV])
REFERENCES [dbo].[OBJETIVOINVENTARIO] ([NOMBRETIPOINV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [FK_PROYECTO_ES_OBJETIVO]
GO
/****** Object:  ForeignKey [FK_PROYECTO_PROYECTO_FORMULA]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_PROYECTO_PROYECTO_FORMULA] FOREIGN KEY([NROFORMULA])
REFERENCES [dbo].[FORMULA] ([NROFORMULA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [FK_PROYECTO_PROYECTO_FORMULA]
GO
/****** Object:  ForeignKey [FK_PROYECTO_REALIZA_TIPODISE]    Script Date: 03/31/2014 23:11:52 ******/
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_PROYECTO_REALIZA_TIPODISE] FOREIGN KEY([NOMTIPODISEMUEST])
REFERENCES [dbo].[TIPODISENOMUESTRAL] ([NOMTIPODISEMUEST])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [FK_PROYECTO_REALIZA_TIPODISE]
GO
