USE [master]
GO
/****** Object:  Database [SIFCA_BD]    Script Date: 10/04/2013 07:36:04 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'SIFCA_BD')
BEGIN
CREATE DATABASE [SIFCA_BD] ON  PRIMARY 
( NAME = N'SIFCA_BD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVERR2\MSSQL\DATA\SIFCA_BD.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SIFCA_BD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVERR2\MSSQL\DATA\SIFCA_BD_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SIFCA_BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SIFCA_BD]
GO
/****** Object:  ForeignKey [FK_ESPECIE_PERTENECE_GRUPOCOM]    Script Date: 10/04/2013 07:36:20 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ESPECIE_PERTENECE_GRUPOCOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[ESPECIE]'))
ALTER TABLE [dbo].[ESPECIE] DROP CONSTRAINT [FK_ESPECIE_PERTENECE_GRUPOCOM]
GO
/****** Object:  ForeignKey [FK_IMAGEN_IMAGENE_ESPECIE]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_IMAGEN_IMAGENE_ESPECIE]') AND parent_object_id = OBJECT_ID(N'[dbo].[IMAGEN]'))
ALTER TABLE [dbo].[IMAGEN] DROP CONSTRAINT [FK_IMAGEN_IMAGENE_ESPECIE]
GO
/****** Object:  ForeignKey [FK_TRANSACC_REGISTRA_USUARIO]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TRANSACC_REGISTRA_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRANSACCION]'))
ALTER TABLE [dbo].[TRANSACCION] DROP CONSTRAINT [FK_TRANSACC_REGISTRA_USUARIO]
GO
/****** Object:  ForeignKey [FK_PROYECTO_CREA_USUARIO]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_CREA_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO] DROP CONSTRAINT [FK_PROYECTO_CREA_USUARIO]
GO
/****** Object:  ForeignKey [FK_PROYECTO_ES_OBJETIVO]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_ES_OBJETIVO]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO] DROP CONSTRAINT [FK_PROYECTO_ES_OBJETIVO]
GO
/****** Object:  ForeignKey [FK_PROYECTO_REALIZA_TIPODISE]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_REALIZA_TIPODISE]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO] DROP CONSTRAINT [FK_PROYECTO_REALIZA_TIPODISE]
GO
/****** Object:  ForeignKey [FK_PROYECTO_CONTENEDOR]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_CONTENEDOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTOSPORETAPA]'))
ALTER TABLE [dbo].[PROYECTOSPORETAPA] DROP CONSTRAINT [FK_PROYECTO_CONTENEDOR]
GO
/****** Object:  ForeignKey [FK_PROYECTO_CONTENIDOS]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_CONTENIDOS]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTOSPORETAPA]'))
ALTER TABLE [dbo].[PROYECTOSPORETAPA] DROP CONSTRAINT [FK_PROYECTO_CONTENIDOS]
GO
/****** Object:  ForeignKey [FK_FORMULAR_DESARROLL_PROYECTO]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FORMULAR_DESARROLL_PROYECTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[FORMULARIO]'))
ALTER TABLE [dbo].[FORMULARIO] DROP CONSTRAINT [FK_FORMULAR_DESARROLL_PROYECTO]
GO
/****** Object:  ForeignKey [FK_FORMULAR_ES_REPONS_USUARIO]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FORMULAR_ES_REPONS_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[FORMULARIO]'))
ALTER TABLE [dbo].[FORMULARIO] DROP CONSTRAINT [FK_FORMULAR_ES_REPONS_USUARIO]
GO
/****** Object:  ForeignKey [FK_FORMULAR_MANEJA_ESTRATO]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FORMULAR_MANEJA_ESTRATO]') AND parent_object_id = OBJECT_ID(N'[dbo].[FORMULARIO]'))
ALTER TABLE [dbo].[FORMULARIO] DROP CONSTRAINT [FK_FORMULAR_MANEJA_ESTRATO]
GO
/****** Object:  ForeignKey [FK_LISTADOD_LISTAESTR_ESTRATO]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LISTADOD_LISTAESTR_ESTRATO]') AND parent_object_id = OBJECT_ID(N'[dbo].[LISTADODEESTRATOS]'))
ALTER TABLE [dbo].[LISTADODEESTRATOS] DROP CONSTRAINT [FK_LISTADOD_LISTAESTR_ESTRATO]
GO
/****** Object:  ForeignKey [FK_LISTAESTRATOS_PROYECTO]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LISTAESTRATOS_PROYECTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[LISTADODEESTRATOS]'))
ALTER TABLE [dbo].[LISTADODEESTRATOS] DROP CONSTRAINT [FK_LISTAESTRATOS_PROYECTO]
GO
/****** Object:  ForeignKey [FK_LISTADOD_LISTADODE_ESPECIE]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LISTADOD_LISTADODE_ESPECIE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LISTADODEESPECIES]'))
ALTER TABLE [dbo].[LISTADODEESPECIES] DROP CONSTRAINT [FK_LISTADOD_LISTADODE_ESPECIE]
GO
/****** Object:  ForeignKey [FK_LISTADOESPECIES_PROYECTO]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LISTADOESPECIES_PROYECTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[LISTADODEESPECIES]'))
ALTER TABLE [dbo].[LISTADODEESPECIES] DROP CONSTRAINT [FK_LISTADOESPECIES_PROYECTO]
GO
/****** Object:  ForeignKey [FK_LINEAREG_COMPLETA_FORMULAR]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAREG_COMPLETA_FORMULAR]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAREGENERACION]'))
ALTER TABLE [dbo].[LINEAREGENERACION] DROP CONSTRAINT [FK_LINEAREG_COMPLETA_FORMULAR]
GO
/****** Object:  ForeignKey [FK_LINEAREG_EVALUACIO_ESPECIE]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAREG_EVALUACIO_ESPECIE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAREGENERACION]'))
ALTER TABLE [dbo].[LINEAREGENERACION] DROP CONSTRAINT [FK_LINEAREG_EVALUACIO_ESPECIE]
GO
/****** Object:  ForeignKey [FK_LINEANOM_RECOLECTA_FORMULAR]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEANOM_RECOLECTA_FORMULAR]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEANOMADERABLES]'))
ALTER TABLE [dbo].[LINEANOMADERABLES] DROP CONSTRAINT [FK_LINEANOM_RECOLECTA_FORMULAR]
GO
/****** Object:  ForeignKey [FK_LINEAINV_ASOCIADO_ESTADOSA]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAINV_ASOCIADO_ESTADOSA]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]'))
ALTER TABLE [dbo].[LINEAINVENTARIO] DROP CONSTRAINT [FK_LINEAINV_ASOCIADO_ESTADOSA]
GO
/****** Object:  ForeignKey [FK_LINEAINV_CONTIENE_ESPECIE]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAINV_CONTIENE_ESPECIE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]'))
ALTER TABLE [dbo].[LINEAINVENTARIO] DROP CONSTRAINT [FK_LINEAINV_CONTIENE_ESPECIE]
GO
/****** Object:  ForeignKey [FK_LINEAINV_LLENA_FORMULAR]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAINV_LLENA_FORMULAR]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]'))
ALTER TABLE [dbo].[LINEAINVENTARIO] DROP CONSTRAINT [FK_LINEAINV_LLENA_FORMULAR]
GO
/****** Object:  ForeignKey [FK_LINEAINV_POSEE_CALIDAD]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAINV_POSEE_CALIDAD]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]'))
ALTER TABLE [dbo].[LINEAINVENTARIO] DROP CONSTRAINT [FK_LINEAINV_POSEE_CALIDAD]
GO
/****** Object:  ForeignKey [FK_USO_TIPOUSO_TIPODEUS]    Script Date: 10/04/2013 07:36:22 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USO_TIPOUSO_TIPODEUS]') AND parent_object_id = OBJECT_ID(N'[dbo].[USO]'))
ALTER TABLE [dbo].[USO] DROP CONSTRAINT [FK_USO_TIPOUSO_TIPODEUS]
GO
/****** Object:  ForeignKey [FK_USO_USADOPOR_LINEANOM]    Script Date: 10/04/2013 07:36:22 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USO_USADOPOR_LINEANOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[USO]'))
ALTER TABLE [dbo].[USO] DROP CONSTRAINT [FK_USO_USADOPOR_LINEANOM]
GO
/****** Object:  Table [dbo].[USO]    Script Date: 10/04/2013 07:36:22 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USO_TIPOUSO_TIPODEUS]') AND parent_object_id = OBJECT_ID(N'[dbo].[USO]'))
ALTER TABLE [dbo].[USO] DROP CONSTRAINT [FK_USO_TIPOUSO_TIPODEUS]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USO_USADOPOR_LINEANOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[USO]'))
ALTER TABLE [dbo].[USO] DROP CONSTRAINT [FK_USO_USADOPOR_LINEANOM]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USO]') AND type in (N'U'))
DROP TABLE [dbo].[USO]
GO
/****** Object:  Table [dbo].[LINEAINVENTARIO]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAINV_ASOCIADO_ESTADOSA]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]'))
ALTER TABLE [dbo].[LINEAINVENTARIO] DROP CONSTRAINT [FK_LINEAINV_ASOCIADO_ESTADOSA]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAINV_CONTIENE_ESPECIE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]'))
ALTER TABLE [dbo].[LINEAINVENTARIO] DROP CONSTRAINT [FK_LINEAINV_CONTIENE_ESPECIE]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAINV_LLENA_FORMULAR]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]'))
ALTER TABLE [dbo].[LINEAINVENTARIO] DROP CONSTRAINT [FK_LINEAINV_LLENA_FORMULAR]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAINV_POSEE_CALIDAD]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]'))
ALTER TABLE [dbo].[LINEAINVENTARIO] DROP CONSTRAINT [FK_LINEAINV_POSEE_CALIDAD]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]') AND type in (N'U'))
DROP TABLE [dbo].[LINEAINVENTARIO]
GO
/****** Object:  Table [dbo].[LINEANOMADERABLES]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEANOM_RECOLECTA_FORMULAR]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEANOMADERABLES]'))
ALTER TABLE [dbo].[LINEANOMADERABLES] DROP CONSTRAINT [FK_LINEANOM_RECOLECTA_FORMULAR]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LINEANOMADERABLES]') AND type in (N'U'))
DROP TABLE [dbo].[LINEANOMADERABLES]
GO
/****** Object:  Table [dbo].[LINEAREGENERACION]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAREG_COMPLETA_FORMULAR]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAREGENERACION]'))
ALTER TABLE [dbo].[LINEAREGENERACION] DROP CONSTRAINT [FK_LINEAREG_COMPLETA_FORMULAR]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAREG_EVALUACIO_ESPECIE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAREGENERACION]'))
ALTER TABLE [dbo].[LINEAREGENERACION] DROP CONSTRAINT [FK_LINEAREG_EVALUACIO_ESPECIE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LINEAREGENERACION]') AND type in (N'U'))
DROP TABLE [dbo].[LINEAREGENERACION]
GO
/****** Object:  Table [dbo].[LISTADODEESPECIES]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LISTADOD_LISTADODE_ESPECIE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LISTADODEESPECIES]'))
ALTER TABLE [dbo].[LISTADODEESPECIES] DROP CONSTRAINT [FK_LISTADOD_LISTADODE_ESPECIE]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LISTADOESPECIES_PROYECTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[LISTADODEESPECIES]'))
ALTER TABLE [dbo].[LISTADODEESPECIES] DROP CONSTRAINT [FK_LISTADOESPECIES_PROYECTO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LISTADODEESPECIES]') AND type in (N'U'))
DROP TABLE [dbo].[LISTADODEESPECIES]
GO
/****** Object:  Table [dbo].[LISTADODEESTRATOS]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LISTADOD_LISTAESTR_ESTRATO]') AND parent_object_id = OBJECT_ID(N'[dbo].[LISTADODEESTRATOS]'))
ALTER TABLE [dbo].[LISTADODEESTRATOS] DROP CONSTRAINT [FK_LISTADOD_LISTAESTR_ESTRATO]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LISTAESTRATOS_PROYECTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[LISTADODEESTRATOS]'))
ALTER TABLE [dbo].[LISTADODEESTRATOS] DROP CONSTRAINT [FK_LISTAESTRATOS_PROYECTO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LISTADODEESTRATOS]') AND type in (N'U'))
DROP TABLE [dbo].[LISTADODEESTRATOS]
GO
/****** Object:  Table [dbo].[FORMULARIO]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FORMULAR_DESARROLL_PROYECTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[FORMULARIO]'))
ALTER TABLE [dbo].[FORMULARIO] DROP CONSTRAINT [FK_FORMULAR_DESARROLL_PROYECTO]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FORMULAR_ES_REPONS_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[FORMULARIO]'))
ALTER TABLE [dbo].[FORMULARIO] DROP CONSTRAINT [FK_FORMULAR_ES_REPONS_USUARIO]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FORMULAR_MANEJA_ESTRATO]') AND parent_object_id = OBJECT_ID(N'[dbo].[FORMULARIO]'))
ALTER TABLE [dbo].[FORMULARIO] DROP CONSTRAINT [FK_FORMULAR_MANEJA_ESTRATO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FORMULARIO]') AND type in (N'U'))
DROP TABLE [dbo].[FORMULARIO]
GO
/****** Object:  Table [dbo].[PROYECTOSPORETAPA]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_CONTENEDOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTOSPORETAPA]'))
ALTER TABLE [dbo].[PROYECTOSPORETAPA] DROP CONSTRAINT [FK_PROYECTO_CONTENEDOR]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_CONTENIDOS]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTOSPORETAPA]'))
ALTER TABLE [dbo].[PROYECTOSPORETAPA] DROP CONSTRAINT [FK_PROYECTO_CONTENIDOS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROYECTOSPORETAPA]') AND type in (N'U'))
DROP TABLE [dbo].[PROYECTOSPORETAPA]
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_CREA_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO] DROP CONSTRAINT [FK_PROYECTO_CREA_USUARIO]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_ES_OBJETIVO]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO] DROP CONSTRAINT [FK_PROYECTO_ES_OBJETIVO]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_REALIZA_TIPODISE]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO] DROP CONSTRAINT [FK_PROYECTO_REALIZA_TIPODISE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROYECTO]') AND type in (N'U'))
DROP TABLE [dbo].[PROYECTO]
GO
/****** Object:  Table [dbo].[TRANSACCION]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TRANSACC_REGISTRA_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRANSACCION]'))
ALTER TABLE [dbo].[TRANSACCION] DROP CONSTRAINT [FK_TRANSACC_REGISTRA_USUARIO]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRANSACCION]') AND type in (N'U'))
DROP TABLE [dbo].[TRANSACCION]
GO
/****** Object:  Table [dbo].[IMAGEN]    Script Date: 10/04/2013 07:36:21 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_IMAGEN_IMAGENE_ESPECIE]') AND parent_object_id = OBJECT_ID(N'[dbo].[IMAGEN]'))
ALTER TABLE [dbo].[IMAGEN] DROP CONSTRAINT [FK_IMAGEN_IMAGENE_ESPECIE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IMAGEN]') AND type in (N'U'))
DROP TABLE [dbo].[IMAGEN]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 10/04/2013 07:36:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USUARIO]') AND type in (N'U'))
DROP TABLE [dbo].[USUARIO]
GO
/****** Object:  Table [dbo].[ESPECIE]    Script Date: 10/04/2013 07:36:20 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ESPECIE_PERTENECE_GRUPOCOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[ESPECIE]'))
ALTER TABLE [dbo].[ESPECIE] DROP CONSTRAINT [FK_ESPECIE_PERTENECE_GRUPOCOM]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ESPECIE]') AND type in (N'U'))
DROP TABLE [dbo].[ESPECIE]
GO
/****** Object:  Table [dbo].[ESTADOSANITARIO]    Script Date: 10/04/2013 07:36:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ESTADOSANITARIO]') AND type in (N'U'))
DROP TABLE [dbo].[ESTADOSANITARIO]
GO
/****** Object:  Table [dbo].[ESTRATO]    Script Date: 10/04/2013 07:36:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ESTRATO]') AND type in (N'U'))
DROP TABLE [dbo].[ESTRATO]
GO
/****** Object:  Table [dbo].[OBJETIVOINVENTARIO]    Script Date: 10/04/2013 07:36:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OBJETIVOINVENTARIO]') AND type in (N'U'))
DROP TABLE [dbo].[OBJETIVOINVENTARIO]
GO
/****** Object:  Table [dbo].[GRUPOCOMERCIAL]    Script Date: 10/04/2013 07:36:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GRUPOCOMERCIAL]') AND type in (N'U'))
DROP TABLE [dbo].[GRUPOCOMERCIAL]
GO
/****** Object:  Rule [dbo].[R_TIPOARBOL]    Script Date: 10/04/2013 07:36:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[R_TIPOARBOL]') AND OBJECTPROPERTY(object_id, N'IsRule') = 1)
DROP RULE [dbo].[R_TIPOARBOL]
GO
/****** Object:  Rule [dbo].[R_TIPOOPERACION]    Script Date: 10/04/2013 07:36:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[R_TIPOOPERACION]') AND OBJECTPROPERTY(object_id, N'IsRule') = 1)
DROP RULE [dbo].[R_TIPOOPERACION]
GO
/****** Object:  Rule [dbo].[R_TIPOPROYECTO]    Script Date: 10/04/2013 07:36:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[R_TIPOPROYECTO]') AND OBJECTPROPERTY(object_id, N'IsRule') = 1)
DROP RULE [dbo].[R_TIPOPROYECTO]
GO
/****** Object:  Rule [dbo].[R_TIPOUSUARIO]    Script Date: 10/04/2013 07:36:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[R_TIPOUSUARIO]') AND OBJECTPROPERTY(object_id, N'IsRule') = 1)
DROP RULE [dbo].[R_TIPOUSUARIO]
GO
/****** Object:  StoredProcedure [dbo].[sp_BackupDB]    Script Date: 10/04/2013 07:36:20 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_BackupDB]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_BackupDB]
GO
/****** Object:  UserDefinedDataType [dbo].[TIPOARBOL]    Script Date: 10/04/2013 07:36:09 ******/
IF  EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'TIPOARBOL' AND ss.name = N'dbo')
DROP TYPE [dbo].[TIPOARBOL]
GO
/****** Object:  Table [dbo].[TIPODEUSO]    Script Date: 10/04/2013 07:36:09 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TIPODEUSO]') AND type in (N'U'))
DROP TABLE [dbo].[TIPODEUSO]
GO
/****** Object:  Table [dbo].[TIPODISENOMUESTRAL]    Script Date: 10/04/2013 07:36:09 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TIPODISENOMUESTRAL]') AND type in (N'U'))
DROP TABLE [dbo].[TIPODISENOMUESTRAL]
GO
/****** Object:  UserDefinedDataType [dbo].[TIPOOPERACION]    Script Date: 10/04/2013 07:36:09 ******/
IF  EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'TIPOOPERACION' AND ss.name = N'dbo')
DROP TYPE [dbo].[TIPOOPERACION]
GO
/****** Object:  UserDefinedDataType [dbo].[TIPOPROYECTO]    Script Date: 10/04/2013 07:36:09 ******/
IF  EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'TIPOPROYECTO' AND ss.name = N'dbo')
DROP TYPE [dbo].[TIPOPROYECTO]
GO
/****** Object:  UserDefinedDataType [dbo].[TIPOUSUARIO]    Script Date: 10/04/2013 07:36:09 ******/
IF  EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'TIPOUSUARIO' AND ss.name = N'dbo')
DROP TYPE [dbo].[TIPOUSUARIO]
GO
/****** Object:  Table [dbo].[TSTUDENT]    Script Date: 10/04/2013 07:36:09 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TSTUDENT]') AND type in (N'U'))
DROP TABLE [dbo].[TSTUDENT]
GO
/****** Object:  Table [dbo].[CALIDAD]    Script Date: 10/04/2013 07:36:09 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CALIDAD]') AND type in (N'U'))
DROP TABLE [dbo].[CALIDAD]
GO
/****** Object:  Table [dbo].[CALIDAD]    Script Date: 10/04/2013 07:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CALIDAD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CALIDAD](
	[CODCALIDAD] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DESCRIPCALIDAD] [varchar](500) NULL,
 CONSTRAINT [PK_CALIDAD] PRIMARY KEY NONCLUSTERED 
(
	[CODCALIDAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CALIDAD] ON
INSERT [dbo].[CALIDAD] ([CODCALIDAD], [DESCRIPCALIDAD]) VALUES (CAST(1 AS Numeric(18, 0)), N'Arbol sin calidad')
INSERT [dbo].[CALIDAD] ([CODCALIDAD], [DESCRIPCALIDAD]) VALUES (CAST(2 AS Numeric(18, 0)), N'Fuste tortuoso con defectos graves en su estructura')
INSERT [dbo].[CALIDAD] ([CODCALIDAD], [DESCRIPCALIDAD]) VALUES (CAST(3 AS Numeric(18, 0)), N'Fuste ligeramente corvado con defectos leves')
SET IDENTITY_INSERT [dbo].[CALIDAD] OFF
/****** Object:  Table [dbo].[TSTUDENT]    Script Date: 10/04/2013 07:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TSTUDENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TSTUDENT](
	[N] [numeric](18, 0) NOT NULL,
	[ALPHA] [decimal](18, 3) NOT NULL,
	[VALOR] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_TSTUDENT] PRIMARY KEY NONCLUSTERED 
(
	[N] ASC,
	[ALPHA] ASC,
	[VALOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  UserDefinedDataType [dbo].[TIPOUSUARIO]    Script Date: 10/04/2013 07:36:09 ******/
IF NOT EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'TIPOUSUARIO' AND ss.name = N'dbo')
CREATE TYPE [dbo].[TIPOUSUARIO] FROM [char](2) NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[TIPOPROYECTO]    Script Date: 10/04/2013 07:36:09 ******/
IF NOT EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'TIPOPROYECTO' AND ss.name = N'dbo')
CREATE TYPE [dbo].[TIPOPROYECTO] FROM [varchar](2) NOT NULL
GO
/****** Object:  UserDefinedDataType [dbo].[TIPOOPERACION]    Script Date: 10/04/2013 07:36:09 ******/
IF NOT EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'TIPOOPERACION' AND ss.name = N'dbo')
CREATE TYPE [dbo].[TIPOOPERACION] FROM [char](1) NOT NULL
GO
/****** Object:  Table [dbo].[TIPODISENOMUESTRAL]    Script Date: 10/04/2013 07:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TIPODISENOMUESTRAL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TIPODISENOMUESTRAL](
	[NOMTIPODISEMUEST] [varchar](100) NOT NULL,
	[DESCRIPTIPODISEMUEST] [varchar](500) NULL,
 CONSTRAINT [PK_TIPODISENOMUESTRAL] PRIMARY KEY NONCLUSTERED 
(
	[NOMTIPODISEMUEST] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TIPODISENOMUESTRAL] ([NOMTIPODISEMUEST], [DESCRIPTIPODISEMUEST]) VALUES (N'SI', N'Diseño simple')
INSERT [dbo].[TIPODISENOMUESTRAL] ([NOMTIPODISEMUEST], [DESCRIPTIPODISEMUEST]) VALUES (N'ES', N'Diseño estratificado')
/****** Object:  Table [dbo].[TIPODEUSO]    Script Date: 10/04/2013 07:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TIPODEUSO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TIPODEUSO](
	[NOMBRETIPOUSO] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](500) NULL,
 CONSTRAINT [PK_TIPODEUSO] PRIMARY KEY NONCLUSTERED 
(
	[NOMBRETIPOUSO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TIPODEUSO] ([NOMBRETIPOUSO], [DESCRIPCION]) VALUES (N'AL', N'Alimenticia')
INSERT [dbo].[TIPODEUSO] ([NOMBRETIPOUSO], [DESCRIPCION]) VALUES (N'AR', N'Artesanal')
INSERT [dbo].[TIPODEUSO] ([NOMBRETIPOUSO], [DESCRIPCION]) VALUES (N'MD', N'Medicinal')
/****** Object:  UserDefinedDataType [dbo].[TIPOARBOL]    Script Date: 10/04/2013 07:36:09 ******/
IF NOT EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'TIPOARBOL' AND ss.name = N'dbo')
CREATE TYPE [dbo].[TIPOARBOL] FROM [char](3) NOT NULL
GO
/****** Object:  StoredProcedure [dbo].[sp_BackupDB]    Script Date: 10/04/2013 07:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_BackupDB]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_BackupDB]
(   
    @BaseLocation   varchar(1024),
    @BackupType     varchar(32)

)
AS
BEGIN

    Declare @DBName     varchar(255) = db_name()

    Declare @FileName   varchar(256)

    Declare @Date datetime = getdate()
    Set @BackupType = UPPER(@BackupType)

    Set @FileName = Cast(Year(@Date) as varchar(4)) + ''_'' + 
                    Right(''00'' + Cast(Month(@Date) as varchar(2)),2) + ''_'' +
                    Right(''00'' + Cast(Day(@Date) as varchar(2)),2) + ''_'' + 
                    Right(''00'' + Cast(DatePart(hh,@Date) as varchar(2)),2) + ''_'' + 
                    Right(''00'' + Cast(DatePart(mi,@Date) as varchar(2)),2) + ''_'' +
                    Right(''00'' + Cast(DatePart(ss,@Date) as varchar(2)),2) + ''_'' + 
                    UPPER(@BackupType) +''_''+@DBName+
                    (Case When @BackupType = ''FULL'' Or @BackupType = ''DIFFERENTIAL'' Then ''.BAK'' Else ''.TRN'' End)

    Declare @FullPath varchar(1280) = ''''

    If Right(@BaseLocation,1) <> ''\''
    Begin
        Set @BaseLocation = @BaseLocation + ''\''
    End
    Set @FullPath = @BaseLocation + @FileName
    Print @FullPath


    If @BackupType = ''FULL''
    Begin
        Backup database @DBName To Disk = @FullPath
    End
    Else If @BackupType = ''DIFFERENTIAL''
    Begin
        Backup database @DBName To Disk = @FullPath WITH DIFFERENTIAL
    End
    Else If @BackupType = ''LOG''
    Begin
        BACKUP LOG @DBName
             TO Disk = @FullPath
    End

END
' 
END
GO
/****** Object:  Rule [dbo].[R_TIPOUSUARIO]    Script Date: 10/04/2013 07:36:20 ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[R_TIPOUSUARIO]') AND OBJECTPROPERTY(object_id, N'IsRule') = 1)
EXEC dbo.sp_executesql N'
create rule [dbo].[R_TIPOUSUARIO] as
      @column in (''AD'',''NA'')
'
GO
/****** Object:  Rule [dbo].[R_TIPOPROYECTO]    Script Date: 10/04/2013 07:36:20 ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[R_TIPOPROYECTO]') AND OBJECTPROPERTY(object_id, N'IsRule') = 1)
EXEC dbo.sp_executesql N'
create rule [dbo].[R_TIPOPROYECTO] as
      @column in (''CR'',''CO'',''IN'')
'
GO
/****** Object:  Rule [dbo].[R_TIPOOPERACION]    Script Date: 10/04/2013 07:36:20 ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[R_TIPOOPERACION]') AND OBJECTPROPERTY(object_id, N'IsRule') = 1)
EXEC dbo.sp_executesql N'
create rule [dbo].[R_TIPOOPERACION] as
      @column in (''I'',''A'',''E'')
'
GO
/****** Object:  Rule [dbo].[R_TIPOARBOL]    Script Date: 10/04/2013 07:36:20 ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[R_TIPOARBOL]') AND OBJECTPROPERTY(object_id, N'IsRule') = 1)
EXEC dbo.sp_executesql N'
create rule [dbo].[R_TIPOARBOL] as
      @column in (''BFA'',''NBF'',''BFB'')
'
GO
/****** Object:  Table [dbo].[GRUPOCOMERCIAL]    Script Date: 10/04/2013 07:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GRUPOCOMERCIAL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GRUPOCOMERCIAL](
	[GRUPOCOM] [char](2) NOT NULL,
	[DESCRIPGRUPO] [varchar](500) NULL,
 CONSTRAINT [PK_GRUPOCOMERCIAL] PRIMARY KEY NONCLUSTERED 
(
	[GRUPOCOM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[GRUPOCOMERCIAL] ([GRUPOCOM], [DESCRIPGRUPO]) VALUES (N'MV', N'Muy valiosas')
INSERT [dbo].[GRUPOCOMERCIAL] ([GRUPOCOM], [DESCRIPGRUPO]) VALUES (N'PV', N'Poco valiosas')
INSERT [dbo].[GRUPOCOMERCIAL] ([GRUPOCOM], [DESCRIPGRUPO]) VALUES (N'SV', N'Sin valor comercial')
/****** Object:  Table [dbo].[OBJETIVOINVENTARIO]    Script Date: 10/04/2013 07:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OBJETIVOINVENTARIO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OBJETIVOINVENTARIO](
	[NOMBRETIPOINV] [varchar](100) NOT NULL,
	[DESCRIPOBJETINV] [varchar](500) NULL,
 CONSTRAINT [PK_OBJETIVOINVENTARIO] PRIMARY KEY NONCLUSTERED 
(
	[NOMBRETIPOINV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[OBJETIVOINVENTARIO] ([NOMBRETIPOINV], [DESCRIPOBJETINV]) VALUES (N'MD', N'Maderables')
INSERT [dbo].[OBJETIVOINVENTARIO] ([NOMBRETIPOINV], [DESCRIPOBJETINV]) VALUES (N'NM', N'No Maderables')
/****** Object:  Table [dbo].[ESTRATO]    Script Date: 10/04/2013 07:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ESTRATO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ESTRATO](
	[CODEST] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DESCRIPESTRATO] [varchar](500) NULL,
 CONSTRAINT [PK_ESTRATO] PRIMARY KEY NONCLUSTERED 
(
	[CODEST] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ESTRATO] ON
INSERT [dbo].[ESTRATO] ([CODEST], [DESCRIPESTRATO]) VALUES (CAST(1 AS Numeric(18, 0)), N'Bosque Alto')
INSERT [dbo].[ESTRATO] ([CODEST], [DESCRIPESTRATO]) VALUES (CAST(2 AS Numeric(18, 0)), N'Bosque Alto Mediano')
INSERT [dbo].[ESTRATO] ([CODEST], [DESCRIPESTRATO]) VALUES (CAST(3 AS Numeric(18, 0)), N'Bosque Alto Bajo')
SET IDENTITY_INSERT [dbo].[ESTRATO] OFF
/****** Object:  Table [dbo].[ESTADOSANITARIO]    Script Date: 10/04/2013 07:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ESTADOSANITARIO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ESTADOSANITARIO](
	[ESTADO] [char](2) NOT NULL,
	[DESCRIPESTADO] [varchar](500) NULL,
 CONSTRAINT [PK_ESTADOSANITARIO] PRIMARY KEY NONCLUSTERED 
(
	[ESTADO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ESTADOSANITARIO] ([ESTADO], [DESCRIPESTADO]) VALUES (N'AI', N'Arbol con insectos')
INSERT [dbo].[ESTADOSANITARIO] ([ESTADO], [DESCRIPESTADO]) VALUES (N'AD', N'Arbol dañado')
INSERT [dbo].[ESTADOSANITARIO] ([ESTADO], [DESCRIPESTADO]) VALUES (N'AF', N'Arbol con o sin flores')
/****** Object:  Table [dbo].[ESPECIE]    Script Date: 10/04/2013 07:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ESPECIE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ESPECIE](
	[CODESP] [uniqueidentifier] NOT NULL,
	[GRUPOCOM] [char](2) NOT NULL,
	[NOMCOMUN] [varchar](200) NULL,
	[NOMCIENTIFICO] [varchar](200) NULL,
	[FAMILIA] [varchar](200) NULL,
	[ZONAGEOGRAFICA] [varchar](200) NULL,
	[ZONADEVIDA] [varchar](200) NULL,
	[DIAMMINCORTE] [numeric](18, 0) NULL,
 CONSTRAINT [PK_ESPECIE] PRIMARY KEY NONCLUSTERED 
(
	[CODESP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ESPECIE]') AND name = N'PERTENECE_FK')
CREATE NONCLUSTERED INDEX [PERTENECE_FK] ON [dbo].[ESPECIE] 
(
	[GRUPOCOM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[ESPECIE] ([CODESP], [GRUPOCOM], [NOMCOMUN], [NOMCIENTIFICO], [FAMILIA], [ZONAGEOGRAFICA], [ZONADEVIDA], [DIAMMINCORTE]) VALUES (N'd66dcd31-d006-4b62-bd6a-001196c79653', N'SV', N'Amarilo de Bajura', N'Albizia niopioides', N'Mimosaceae', N'Lm', N'CE-BS', CAST(60 AS Numeric(18, 0)))
INSERT [dbo].[ESPECIE] ([CODESP], [GRUPOCOM], [NOMCOMUN], [NOMCIENTIFICO], [FAMILIA], [ZONAGEOGRAFICA], [ZONADEVIDA], [DIAMMINCORTE]) VALUES (N'e9d36c3a-16f7-4719-8b19-033d0b4f35b0', N'SV', N'Cari-Cari', N'Acacia polyphylla', N'Mimosoideae', N'##', N'BS', CAST(60 AS Numeric(18, 0)))
INSERT [dbo].[ESPECIE] ([CODESP], [GRUPOCOM], [NOMCOMUN], [NOMCIENTIFICO], [FAMILIA], [ZONAGEOGRAFICA], [ZONADEVIDA], [DIAMMINCORTE]) VALUES (N'b0aa95ee-db21-410a-9366-035eab3eaf92', N'PV', N'Tajibo Panza', N'Zeyheria tuberculosa', N'Bignoniaceae', N'Sr-Sm', N'BS', CAST(60 AS Numeric(18, 0)))
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[USUARIO]    Script Date: 10/04/2013 07:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USUARIO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[USUARIO](
	[NROUSUARIO] [uniqueidentifier] NOT NULL,
	[NOMBRES] [varchar](100) NOT NULL,
	[APELLIDOS] [varchar](100) NOT NULL,
	[NOMBREUSUARIO] [varchar](100) NOT NULL,
	[CONTRASENA] [varchar](1000) NOT NULL,
	[CEDULA] [numeric](18, 0) NOT NULL,
	[TIPOUSUARIO] [dbo].[TIPOUSUARIO] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY NONCLUSTERED 
(
	[NROUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[USUARIO] ([NROUSUARIO], [NOMBRES], [APELLIDOS], [NOMBREUSUARIO], [CONTRASENA], [CEDULA], [TIPOUSUARIO]) VALUES (N'dd15b0d2-7752-4d27-afe9-4827d05ce9d3', N'Oscar Dario', N'Gomez Burbano', N'OGOMEZ', N'AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAo/kC398omUibC6RrgwQH+wAAAAACAAAAAAAQZgAAAAEAACAAAADeZRQJD3cXHWAbiBXJbha+SMpmmn0q+BXGAihCMz5YrwAAAAAOgAAAAAIAACAAAADAdxhnsb4x9dyS0FXH2/E94TE3iUDsk2/yMn6Xv5NuBhAAAADpU5WquzZv/IA2REyTaaE1QAAAAHxWBhWmIC8zhj1FtU8AV5bBE0lOKu7S39c1PIcvwumpPn4Odhz9KUntQQ97vzIOAjgsbNspYLQbMU+ddadYBtQ=', CAST(1061730429 AS Numeric(18, 0)), N'NA')
INSERT [dbo].[USUARIO] ([NROUSUARIO], [NOMBRES], [APELLIDOS], [NOMBREUSUARIO], [CONTRASENA], [CEDULA], [TIPOUSUARIO]) VALUES (N'ac73c3ce-d566-4eac-a0ed-f63abf69c43e', N'Victor Alfonso', N'Puyo', N'vpuyo', N'AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAo/kC398omUibC6RrgwQH+wAAAAACAAAAAAAQZgAAAAEAACAAAACtN3yK5FswEdyfLsuwCbgErKEp7CZIsRuF+2p3IQZCvgAAAAAOgAAAAAIAACAAAACCSQvFG8wKdi7oKmExr0/I28alZOf8zxrO6bZ1CDlDYBAAAACt1j1FZquDfsRBI4ukMlGNQAAAAM7p7TG2REenKBX46ErdH7INU28ZhQ2Eg8HT0WmKT3UTZmK2ysd13ZH5cnZql/eOUzXMqaRt/UwFsMaN2D5mheY=', CAST(1061733039 AS Numeric(18, 0)), N'AD')
INSERT [dbo].[USUARIO] ([NROUSUARIO], [NOMBRES], [APELLIDOS], [NOMBREUSUARIO], [CONTRASENA], [CEDULA], [TIPOUSUARIO]) VALUES (N'b6fc2e58-018c-46a4-b5db-2b2a8d0ab768', N'Carlos ', N'Cobos', N'ccobos', N'AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAo/kC398omUibC6RrgwQH+wAAAAACAAAAAAAQZgAAAAEAACAAAADeZRQJD3cXHWAbiBXJbha+SMpmmn0q+BXGAihCMz5YrwAAAAAOgAAAAAIAACAAAADAdxhnsb4x9dyS0FXH2/E94TE3iUDsk2/yMn6Xv5NuBhAAAADpU5WquzZv/IA2REyTaaE1QAAAAHxWBhWmIC8zhj1FtU8AV5bBE0lOKu7S39c1PIcvwumpPn4Odhz9KUntQQ97vzIOAjgsbNspYLQbMU+ddadYBtQ=', CAST(106173393 AS Numeric(18, 0)), N'NA')
/****** Object:  Table [dbo].[IMAGEN]    Script Date: 10/04/2013 07:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IMAGEN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IMAGEN](
	[IMAGENID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CODESP] [uniqueidentifier] NOT NULL,
	[DESCRIPCION] [varchar](1000) NULL,
	[NOMBRE] [varchar](250) NOT NULL,
	[RUTA] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_IMAGEN] PRIMARY KEY CLUSTERED 
(
	[IMAGENID] ASC,
	[CODESP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[IMAGEN]') AND name = N'IMAGENID')
CREATE NONCLUSTERED INDEX [IMAGENID] ON [dbo].[IMAGEN] 
(
	[IMAGENID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACCION]    Script Date: 10/04/2013 07:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRANSACCION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TRANSACCION](
	[NROTRANS] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NROUSUARIO] [uniqueidentifier] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[TABLA] [varchar](100) NOT NULL,
	[IDREGISTRO] [numeric](18, 0) NOT NULL,
	[OPERACION] [dbo].[TIPOOPERACION] NOT NULL,
	[VALORESVIEJOS] [varchar](1024) NULL,
	[VALORESNUEVOS] [varchar](1024) NULL,
 CONSTRAINT [PK_TRANSACCION] PRIMARY KEY NONCLUSTERED 
(
	[NROTRANS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[TRANSACCION]') AND name = N'REGISTRA_FK')
CREATE NONCLUSTERED INDEX [REGISTRA_FK] ON [dbo].[TRANSACCION] 
(
	[NROUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 10/04/2013 07:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROYECTO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PROYECTO](
	[NROPROY] [uniqueidentifier] NOT NULL,
	[NROUSUARIO] [uniqueidentifier] NOT NULL,
	[NOMBRETIPOINV] [varchar](100) NOT NULL,
	[NOMTIPODISEMUEST] [varchar](100) NOT NULL,
	[LUGAR] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](500) NULL,
	[SUPTOT] [decimal](18, 3) NOT NULL,
	[INTMUE] [decimal](18, 3) NOT NULL,
	[SUPMUE] [decimal](18, 3) NOT NULL,
	[TAMANO] [decimal](18, 3) NOT NULL,
	[LIMITINFDAP] [decimal](18, 3) NOT NULL,
	[LIMITSUPDAP] [decimal](18, 3) NOT NULL,
	[AREAFUSTALESPORPARCELA] [decimal](18, 3) NOT NULL,
	[FACTORDEFORMA] [decimal](18, 3) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[NUMEROETAPAS] [numeric](18, 0) NULL,
	[TIPOPROYECTO] [dbo].[TIPOPROYECTO] NOT NULL,
 CONSTRAINT [PK_PROYECTO] PRIMARY KEY NONCLUSTERED 
(
	[NROPROY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PROYECTO]') AND name = N'CREA_FK')
CREATE NONCLUSTERED INDEX [CREA_FK] ON [dbo].[PROYECTO] 
(
	[NROUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PROYECTO]') AND name = N'ES_FK')
CREATE NONCLUSTERED INDEX [ES_FK] ON [dbo].[PROYECTO] 
(
	[NOMBRETIPOINV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PROYECTO]') AND name = N'REALIZA_FK')
CREATE NONCLUSTERED INDEX [REALIZA_FK] ON [dbo].[PROYECTO] 
(
	[NOMTIPODISEMUEST] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROYECTOSPORETAPA]    Script Date: 10/04/2013 07:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROYECTOSPORETAPA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PROYECTOSPORETAPA](
	[NROPROYCONTENEDOR] [uniqueidentifier] NOT NULL,
	[NROPROYCONTENIDO] [uniqueidentifier] NOT NULL,
	[PESO] [decimal](18, 3) NULL,
 CONSTRAINT [PK_PROYECTOSPORETAPA] PRIMARY KEY CLUSTERED 
(
	[NROPROYCONTENEDOR] ASC,
	[NROPROYCONTENIDO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[FORMULARIO]    Script Date: 10/04/2013 07:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FORMULARIO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FORMULARIO](
	[NROFORMULARIO] [uniqueidentifier] NOT NULL,
	[CODEST] [numeric](18, 0) NOT NULL,
	[NROUSUARIO] [uniqueidentifier] NOT NULL,
	[NROPROY] [uniqueidentifier] NOT NULL,
	[FECHACREACION] [datetime] NOT NULL,
	[HORAINICIO] [datetime] NULL,
	[HORAFINAL] [datetime] NULL,
	[PARCELA] [numeric](18, 0) NOT NULL,
	[LINEA] [numeric](18, 0) NOT NULL,
	[COORDENADAX] [numeric](18, 0) NULL,
	[COORDENADAY] [numeric](18, 0) NULL,
 CONSTRAINT [PK_FORMULARIO] PRIMARY KEY NONCLUSTERED 
(
	[NROFORMULARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[FORMULARIO]') AND name = N'DESARROLLA_FK')
CREATE NONCLUSTERED INDEX [DESARROLLA_FK] ON [dbo].[FORMULARIO] 
(
	[NROPROY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[FORMULARIO]') AND name = N'ES_REPONSABLE_FK')
CREATE NONCLUSTERED INDEX [ES_REPONSABLE_FK] ON [dbo].[FORMULARIO] 
(
	[NROUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[FORMULARIO]') AND name = N'MANEJA_FK')
CREATE NONCLUSTERED INDEX [MANEJA_FK] ON [dbo].[FORMULARIO] 
(
	[CODEST] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LISTADODEESTRATOS]    Script Date: 10/04/2013 07:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LISTADODEESTRATOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LISTADODEESTRATOS](
	[NROPROY] [uniqueidentifier] NOT NULL,
	[CODEST] [numeric](18, 0) NOT NULL,
	[PESO] [decimal](18, 3) NULL,
 CONSTRAINT [PK_LISTADODEESTRATOS] PRIMARY KEY CLUSTERED 
(
	[NROPROY] ASC,
	[CODEST] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[LISTADODEESPECIES]    Script Date: 10/04/2013 07:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LISTADODEESPECIES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LISTADODEESPECIES](
	[CODESP] [uniqueidentifier] NOT NULL,
	[NROPROY] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_LISTADODEESPECIES] PRIMARY KEY CLUSTERED 
(
	[CODESP] ASC,
	[NROPROY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[LINEAREGENERACION]    Script Date: 10/04/2013 07:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LINEAREGENERACION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LINEAREGENERACION](
	[LATIZAL] [numeric](18, 0) NOT NULL,
	[BRINZAL] [numeric](18, 0) NOT NULL,
	[LINEAREGEN] [uniqueidentifier] NOT NULL,
	[NROFORMULARIO] [uniqueidentifier] NOT NULL,
	[CODESP] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_LINEAREGENERACION] PRIMARY KEY NONCLUSTERED 
(
	[LINEAREGEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[LINEAREGENERACION]') AND name = N'COMPLETA_FK')
CREATE NONCLUSTERED INDEX [COMPLETA_FK] ON [dbo].[LINEAREGENERACION] 
(
	[NROFORMULARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[LINEAREGENERACION]') AND name = N'EVALUACION_FK')
CREATE NONCLUSTERED INDEX [EVALUACION_FK] ON [dbo].[LINEAREGENERACION] 
(
	[CODESP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINEANOMADERABLES]    Script Date: 10/04/2013 07:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LINEANOMADERABLES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LINEANOMADERABLES](
	[LINEANMAD] [uniqueidentifier] NOT NULL,
	[NROFORMULARIO] [uniqueidentifier] NOT NULL,
	[OBSERVACIONES] [varchar](500) NOT NULL,
 CONSTRAINT [PK_LINEANOMADERABLES] PRIMARY KEY NONCLUSTERED 
(
	[LINEANMAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[LINEANOMADERABLES]') AND name = N'RECOLECTA_FK')
CREATE NONCLUSTERED INDEX [RECOLECTA_FK] ON [dbo].[LINEANOMADERABLES] 
(
	[NROFORMULARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINEAINVENTARIO]    Script Date: 10/04/2013 07:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LINEAINVENTARIO](
	[LINEAINV] [uniqueidentifier] NOT NULL,
	[CODCALIDAD] [numeric](18, 0) NOT NULL,
	[NROFORMULARIO] [uniqueidentifier] NOT NULL,
	[ESTADO] [char](2) NOT NULL,
	[CODESP] [uniqueidentifier] NOT NULL,
	[NROARB] [numeric](18, 0) NOT NULL,
	[ALTCOMER_M] [numeric](18, 0) NOT NULL,
	[ALTTOT_M] [numeric](18, 0) NOT NULL,
	[AREABASAL] [decimal](18, 3) NOT NULL,
	[VOLCOM] [decimal](18, 3) NOT NULL,
	[VOLTOT] [decimal](18, 3) NOT NULL,
	[CAP] [numeric](18, 0) NOT NULL,
	[DAP] [numeric](18, 0) NOT NULL,
	[TIPOARBOL] [dbo].[TIPOARBOL] NOT NULL,
 CONSTRAINT [PK_LINEAINVENTARIO] PRIMARY KEY NONCLUSTERED 
(
	[LINEAINV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]') AND name = N'ASOCIADO_FK')
CREATE NONCLUSTERED INDEX [ASOCIADO_FK] ON [dbo].[LINEAINVENTARIO] 
(
	[ESTADO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]') AND name = N'CONTIENE_FK')
CREATE NONCLUSTERED INDEX [CONTIENE_FK] ON [dbo].[LINEAINVENTARIO] 
(
	[CODESP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]') AND name = N'LLENA_FK')
CREATE NONCLUSTERED INDEX [LLENA_FK] ON [dbo].[LINEAINVENTARIO] 
(
	[NROFORMULARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]') AND name = N'POSEE_FK')
CREATE NONCLUSTERED INDEX [POSEE_FK] ON [dbo].[LINEAINVENTARIO] 
(
	[CODCALIDAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USO]    Script Date: 10/04/2013 07:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[USO](
	[LINEANMAD] [uniqueidentifier] NOT NULL,
	[NOMBRETIPOUSO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_USO] PRIMARY KEY CLUSTERED 
(
	[LINEANMAD] ASC,
	[NOMBRETIPOUSO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_ESPECIE_PERTENECE_GRUPOCOM]    Script Date: 10/04/2013 07:36:20 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ESPECIE_PERTENECE_GRUPOCOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[ESPECIE]'))
ALTER TABLE [dbo].[ESPECIE]  WITH CHECK ADD  CONSTRAINT [FK_ESPECIE_PERTENECE_GRUPOCOM] FOREIGN KEY([GRUPOCOM])
REFERENCES [dbo].[GRUPOCOMERCIAL] ([GRUPOCOM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ESPECIE_PERTENECE_GRUPOCOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[ESPECIE]'))
ALTER TABLE [dbo].[ESPECIE] CHECK CONSTRAINT [FK_ESPECIE_PERTENECE_GRUPOCOM]
GO
/****** Object:  ForeignKey [FK_IMAGEN_IMAGENE_ESPECIE]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_IMAGEN_IMAGENE_ESPECIE]') AND parent_object_id = OBJECT_ID(N'[dbo].[IMAGEN]'))
ALTER TABLE [dbo].[IMAGEN]  WITH CHECK ADD  CONSTRAINT [FK_IMAGEN_IMAGENE_ESPECIE] FOREIGN KEY([CODESP])
REFERENCES [dbo].[ESPECIE] ([CODESP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_IMAGEN_IMAGENE_ESPECIE]') AND parent_object_id = OBJECT_ID(N'[dbo].[IMAGEN]'))
ALTER TABLE [dbo].[IMAGEN] CHECK CONSTRAINT [FK_IMAGEN_IMAGENE_ESPECIE]
GO
/****** Object:  ForeignKey [FK_TRANSACC_REGISTRA_USUARIO]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TRANSACC_REGISTRA_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRANSACCION]'))
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACC_REGISTRA_USUARIO] FOREIGN KEY([NROUSUARIO])
REFERENCES [dbo].[USUARIO] ([NROUSUARIO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TRANSACC_REGISTRA_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRANSACCION]'))
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACC_REGISTRA_USUARIO]
GO
/****** Object:  ForeignKey [FK_PROYECTO_CREA_USUARIO]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_CREA_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_PROYECTO_CREA_USUARIO] FOREIGN KEY([NROUSUARIO])
REFERENCES [dbo].[USUARIO] ([NROUSUARIO])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_CREA_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [FK_PROYECTO_CREA_USUARIO]
GO
/****** Object:  ForeignKey [FK_PROYECTO_ES_OBJETIVO]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_ES_OBJETIVO]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_PROYECTO_ES_OBJETIVO] FOREIGN KEY([NOMBRETIPOINV])
REFERENCES [dbo].[OBJETIVOINVENTARIO] ([NOMBRETIPOINV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_ES_OBJETIVO]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [FK_PROYECTO_ES_OBJETIVO]
GO
/****** Object:  ForeignKey [FK_PROYECTO_REALIZA_TIPODISE]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_REALIZA_TIPODISE]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_PROYECTO_REALIZA_TIPODISE] FOREIGN KEY([NOMTIPODISEMUEST])
REFERENCES [dbo].[TIPODISENOMUESTRAL] ([NOMTIPODISEMUEST])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_REALIZA_TIPODISE]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTO]'))
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [FK_PROYECTO_REALIZA_TIPODISE]
GO
/****** Object:  ForeignKey [FK_PROYECTO_CONTENEDOR]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_CONTENEDOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTOSPORETAPA]'))
ALTER TABLE [dbo].[PROYECTOSPORETAPA]  WITH CHECK ADD  CONSTRAINT [FK_PROYECTO_CONTENEDOR] FOREIGN KEY([NROPROYCONTENEDOR])
REFERENCES [dbo].[PROYECTO] ([NROPROY])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_CONTENEDOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTOSPORETAPA]'))
ALTER TABLE [dbo].[PROYECTOSPORETAPA] CHECK CONSTRAINT [FK_PROYECTO_CONTENEDOR]
GO
/****** Object:  ForeignKey [FK_PROYECTO_CONTENIDOS]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_CONTENIDOS]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTOSPORETAPA]'))
ALTER TABLE [dbo].[PROYECTOSPORETAPA]  WITH CHECK ADD  CONSTRAINT [FK_PROYECTO_CONTENIDOS] FOREIGN KEY([NROPROYCONTENIDO])
REFERENCES [dbo].[PROYECTO] ([NROPROY])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROYECTO_CONTENIDOS]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROYECTOSPORETAPA]'))
ALTER TABLE [dbo].[PROYECTOSPORETAPA] CHECK CONSTRAINT [FK_PROYECTO_CONTENIDOS]
GO
/****** Object:  ForeignKey [FK_FORMULAR_DESARROLL_PROYECTO]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FORMULAR_DESARROLL_PROYECTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[FORMULARIO]'))
ALTER TABLE [dbo].[FORMULARIO]  WITH CHECK ADD  CONSTRAINT [FK_FORMULAR_DESARROLL_PROYECTO] FOREIGN KEY([NROPROY])
REFERENCES [dbo].[PROYECTO] ([NROPROY])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FORMULAR_DESARROLL_PROYECTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[FORMULARIO]'))
ALTER TABLE [dbo].[FORMULARIO] CHECK CONSTRAINT [FK_FORMULAR_DESARROLL_PROYECTO]
GO
/****** Object:  ForeignKey [FK_FORMULAR_ES_REPONS_USUARIO]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FORMULAR_ES_REPONS_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[FORMULARIO]'))
ALTER TABLE [dbo].[FORMULARIO]  WITH CHECK ADD  CONSTRAINT [FK_FORMULAR_ES_REPONS_USUARIO] FOREIGN KEY([NROUSUARIO])
REFERENCES [dbo].[USUARIO] ([NROUSUARIO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FORMULAR_ES_REPONS_USUARIO]') AND parent_object_id = OBJECT_ID(N'[dbo].[FORMULARIO]'))
ALTER TABLE [dbo].[FORMULARIO] CHECK CONSTRAINT [FK_FORMULAR_ES_REPONS_USUARIO]
GO
/****** Object:  ForeignKey [FK_FORMULAR_MANEJA_ESTRATO]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FORMULAR_MANEJA_ESTRATO]') AND parent_object_id = OBJECT_ID(N'[dbo].[FORMULARIO]'))
ALTER TABLE [dbo].[FORMULARIO]  WITH CHECK ADD  CONSTRAINT [FK_FORMULAR_MANEJA_ESTRATO] FOREIGN KEY([CODEST])
REFERENCES [dbo].[ESTRATO] ([CODEST])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FORMULAR_MANEJA_ESTRATO]') AND parent_object_id = OBJECT_ID(N'[dbo].[FORMULARIO]'))
ALTER TABLE [dbo].[FORMULARIO] CHECK CONSTRAINT [FK_FORMULAR_MANEJA_ESTRATO]
GO
/****** Object:  ForeignKey [FK_LISTADOD_LISTAESTR_ESTRATO]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LISTADOD_LISTAESTR_ESTRATO]') AND parent_object_id = OBJECT_ID(N'[dbo].[LISTADODEESTRATOS]'))
ALTER TABLE [dbo].[LISTADODEESTRATOS]  WITH CHECK ADD  CONSTRAINT [FK_LISTADOD_LISTAESTR_ESTRATO] FOREIGN KEY([CODEST])
REFERENCES [dbo].[ESTRATO] ([CODEST])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LISTADOD_LISTAESTR_ESTRATO]') AND parent_object_id = OBJECT_ID(N'[dbo].[LISTADODEESTRATOS]'))
ALTER TABLE [dbo].[LISTADODEESTRATOS] CHECK CONSTRAINT [FK_LISTADOD_LISTAESTR_ESTRATO]
GO
/****** Object:  ForeignKey [FK_LISTAESTRATOS_PROYECTO]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LISTAESTRATOS_PROYECTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[LISTADODEESTRATOS]'))
ALTER TABLE [dbo].[LISTADODEESTRATOS]  WITH CHECK ADD  CONSTRAINT [FK_LISTAESTRATOS_PROYECTO] FOREIGN KEY([NROPROY])
REFERENCES [dbo].[PROYECTO] ([NROPROY])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LISTAESTRATOS_PROYECTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[LISTADODEESTRATOS]'))
ALTER TABLE [dbo].[LISTADODEESTRATOS] CHECK CONSTRAINT [FK_LISTAESTRATOS_PROYECTO]
GO
/****** Object:  ForeignKey [FK_LISTADOD_LISTADODE_ESPECIE]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LISTADOD_LISTADODE_ESPECIE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LISTADODEESPECIES]'))
ALTER TABLE [dbo].[LISTADODEESPECIES]  WITH CHECK ADD  CONSTRAINT [FK_LISTADOD_LISTADODE_ESPECIE] FOREIGN KEY([CODESP])
REFERENCES [dbo].[ESPECIE] ([CODESP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LISTADOD_LISTADODE_ESPECIE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LISTADODEESPECIES]'))
ALTER TABLE [dbo].[LISTADODEESPECIES] CHECK CONSTRAINT [FK_LISTADOD_LISTADODE_ESPECIE]
GO
/****** Object:  ForeignKey [FK_LISTADOESPECIES_PROYECTO]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LISTADOESPECIES_PROYECTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[LISTADODEESPECIES]'))
ALTER TABLE [dbo].[LISTADODEESPECIES]  WITH CHECK ADD  CONSTRAINT [FK_LISTADOESPECIES_PROYECTO] FOREIGN KEY([NROPROY])
REFERENCES [dbo].[PROYECTO] ([NROPROY])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LISTADOESPECIES_PROYECTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[LISTADODEESPECIES]'))
ALTER TABLE [dbo].[LISTADODEESPECIES] CHECK CONSTRAINT [FK_LISTADOESPECIES_PROYECTO]
GO
/****** Object:  ForeignKey [FK_LINEAREG_COMPLETA_FORMULAR]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAREG_COMPLETA_FORMULAR]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAREGENERACION]'))
ALTER TABLE [dbo].[LINEAREGENERACION]  WITH CHECK ADD  CONSTRAINT [FK_LINEAREG_COMPLETA_FORMULAR] FOREIGN KEY([NROFORMULARIO])
REFERENCES [dbo].[FORMULARIO] ([NROFORMULARIO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAREG_COMPLETA_FORMULAR]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAREGENERACION]'))
ALTER TABLE [dbo].[LINEAREGENERACION] CHECK CONSTRAINT [FK_LINEAREG_COMPLETA_FORMULAR]
GO
/****** Object:  ForeignKey [FK_LINEAREG_EVALUACIO_ESPECIE]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAREG_EVALUACIO_ESPECIE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAREGENERACION]'))
ALTER TABLE [dbo].[LINEAREGENERACION]  WITH CHECK ADD  CONSTRAINT [FK_LINEAREG_EVALUACIO_ESPECIE] FOREIGN KEY([CODESP])
REFERENCES [dbo].[ESPECIE] ([CODESP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAREG_EVALUACIO_ESPECIE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAREGENERACION]'))
ALTER TABLE [dbo].[LINEAREGENERACION] CHECK CONSTRAINT [FK_LINEAREG_EVALUACIO_ESPECIE]
GO
/****** Object:  ForeignKey [FK_LINEANOM_RECOLECTA_FORMULAR]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEANOM_RECOLECTA_FORMULAR]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEANOMADERABLES]'))
ALTER TABLE [dbo].[LINEANOMADERABLES]  WITH CHECK ADD  CONSTRAINT [FK_LINEANOM_RECOLECTA_FORMULAR] FOREIGN KEY([NROFORMULARIO])
REFERENCES [dbo].[FORMULARIO] ([NROFORMULARIO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEANOM_RECOLECTA_FORMULAR]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEANOMADERABLES]'))
ALTER TABLE [dbo].[LINEANOMADERABLES] CHECK CONSTRAINT [FK_LINEANOM_RECOLECTA_FORMULAR]
GO
/****** Object:  ForeignKey [FK_LINEAINV_ASOCIADO_ESTADOSA]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAINV_ASOCIADO_ESTADOSA]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]'))
ALTER TABLE [dbo].[LINEAINVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_LINEAINV_ASOCIADO_ESTADOSA] FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADOSANITARIO] ([ESTADO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAINV_ASOCIADO_ESTADOSA]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]'))
ALTER TABLE [dbo].[LINEAINVENTARIO] CHECK CONSTRAINT [FK_LINEAINV_ASOCIADO_ESTADOSA]
GO
/****** Object:  ForeignKey [FK_LINEAINV_CONTIENE_ESPECIE]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAINV_CONTIENE_ESPECIE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]'))
ALTER TABLE [dbo].[LINEAINVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_LINEAINV_CONTIENE_ESPECIE] FOREIGN KEY([CODESP])
REFERENCES [dbo].[ESPECIE] ([CODESP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAINV_CONTIENE_ESPECIE]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]'))
ALTER TABLE [dbo].[LINEAINVENTARIO] CHECK CONSTRAINT [FK_LINEAINV_CONTIENE_ESPECIE]
GO
/****** Object:  ForeignKey [FK_LINEAINV_LLENA_FORMULAR]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAINV_LLENA_FORMULAR]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]'))
ALTER TABLE [dbo].[LINEAINVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_LINEAINV_LLENA_FORMULAR] FOREIGN KEY([NROFORMULARIO])
REFERENCES [dbo].[FORMULARIO] ([NROFORMULARIO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAINV_LLENA_FORMULAR]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]'))
ALTER TABLE [dbo].[LINEAINVENTARIO] CHECK CONSTRAINT [FK_LINEAINV_LLENA_FORMULAR]
GO
/****** Object:  ForeignKey [FK_LINEAINV_POSEE_CALIDAD]    Script Date: 10/04/2013 07:36:21 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAINV_POSEE_CALIDAD]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]'))
ALTER TABLE [dbo].[LINEAINVENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_LINEAINV_POSEE_CALIDAD] FOREIGN KEY([CODCALIDAD])
REFERENCES [dbo].[CALIDAD] ([CODCALIDAD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LINEAINV_POSEE_CALIDAD]') AND parent_object_id = OBJECT_ID(N'[dbo].[LINEAINVENTARIO]'))
ALTER TABLE [dbo].[LINEAINVENTARIO] CHECK CONSTRAINT [FK_LINEAINV_POSEE_CALIDAD]
GO
/****** Object:  ForeignKey [FK_USO_TIPOUSO_TIPODEUS]    Script Date: 10/04/2013 07:36:22 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USO_TIPOUSO_TIPODEUS]') AND parent_object_id = OBJECT_ID(N'[dbo].[USO]'))
ALTER TABLE [dbo].[USO]  WITH CHECK ADD  CONSTRAINT [FK_USO_TIPOUSO_TIPODEUS] FOREIGN KEY([NOMBRETIPOUSO])
REFERENCES [dbo].[TIPODEUSO] ([NOMBRETIPOUSO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USO_TIPOUSO_TIPODEUS]') AND parent_object_id = OBJECT_ID(N'[dbo].[USO]'))
ALTER TABLE [dbo].[USO] CHECK CONSTRAINT [FK_USO_TIPOUSO_TIPODEUS]
GO
/****** Object:  ForeignKey [FK_USO_USADOPOR_LINEANOM]    Script Date: 10/04/2013 07:36:22 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USO_USADOPOR_LINEANOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[USO]'))
ALTER TABLE [dbo].[USO]  WITH CHECK ADD  CONSTRAINT [FK_USO_USADOPOR_LINEANOM] FOREIGN KEY([LINEANMAD])
REFERENCES [dbo].[LINEANOMADERABLES] ([LINEANMAD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USO_USADOPOR_LINEANOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[USO]'))
ALTER TABLE [dbo].[USO] CHECK CONSTRAINT [FK_USO_USADOPOR_LINEANOM]
GO
