<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SIFCA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SIFCA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SIFCA_CONTEXT" connectionString="metadata=res://*/SIFCA_Model.csdl|res://*/SIFCA_Model.ssdl|res://*/SIFCA_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.147.240.100,1433\SQLEXPRESS;initial catalog=SIFCA;persist security info=True;user id=su;password=123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <userSettings>
    <SIFCA.Properties.Settings>
      <setting name="Usuario" serializeAs="String">
        <value />
      </setting>
      <setting name="Contrasena" serializeAs="String">
        <value />
      </setting>
      <setting name="IniciarSesion" serializeAs="String">
        <value>False</value>
      </setting>
    </SIFCA.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SIFCA.Properties.Settings>
      <setting name="Key" serializeAs="String">
        <value>1A23B456C789D0aEbcFdefGghHijkIlmJnopqLrsKtvwMxyzN!#U$@=O)(P/RS</value>
      </setting>
    </SIFCA.Properties.Settings>
  </applicationSettings>
</configuration>